<!--@Ecom:Search.SearchBox-->
<!--@DwTemplateTags-->
<div id="grouplist">
	<h1>
		<!--@Translate(productcategories, "Product Categories")-->
	</h1>
    <!--@LoopStart(NextLevelGroups)-->
  
    <!--@HeaderStart-->
    <ul>
    <!--@HeaderEnd-->
	    <li>
	        <a href="<!--@Ecom:Group.Link.Clean-->" title="<!--@Ecom:Group.Name-->" class="GroupLink">
				<h2><!--@Ecom:Group.Name--> - <!--@Ecom:Group.Number--></h2>
				<img src="<!--@Ecom:Group.SmallImage-->" alt="<!--@Ecom:Group.Name-->" width="300" />
	        </a>
	        <a href="<!--@Ecom:Group.Link.Clean-->" class="readmore"><!--@Translate(showproduct, "Show products")--></a>
	    </li>
    <!--@FooterStart-->
    </ul>
    <!--@FooterEnd-->
    <!--@LoopEnd(NextLevelGroups)-->
</div>