html,body
{
	overflow:hidden;
	border:none;
	padding:0px;
	margin:0px;
}

#Toolbar
{
	min-width: 640px;
}

#statusBar
{
	position:fixed; 
	left:0px;
	bottom:0px; 
	right:0px; 
	height:23px;
	line-height:23px;
	border:solid 1px #ffffff;
	vertical-align:middle;
	padding-left:5px;
	background-color:#F1EDED;
}
#statusBar img
{
	vertical-align:middle;
}

#statusBar .statusBarItem
{
	width:160px;
	min-width:160px;
	display:block;
	float:left;
}
#statusBar .seperator{
	background-color:#D7D7D7;
	height:25px;
	width:1px;
	margin-left:2px;
	margin-right:5px;
	float:left;
}

input[type="checkbox"]:focus
{
	outline: none;
}

.downloadFlashLink
{
	background: url('/Admin/Images/Ribbon/Icons/Small/download.png') top left no-repeat;
	padding-left: 20px;
}

.fileLocation
{
	margin-top: 3px;
	height: 26px;
	line-height: 24px;
	display: inherit;
	vertical-align: middle;
	padding-left: 26px;
	cursor: pointer;
}

.listDisabled
{
	color: #C3C3C3 !important;
}

.fileLocationDisabled
{
	color: #C3C3C3;
}

.fileLocation input.locationInput
{
	font-family: arial, verdana, Microsoft JhengHei;
	font-size: 11px;
	margin-top: 2px;
	padding-left: 2px;
	height: 16px;
	border: 1px solid #c3c3c3;
	line-height: 16px;
	width: 400px;
}

.fileLocationConfirmed
{
	background: url('/Admin/Images/Ribbon/Icons/Small/Folder.png') 6px 4px no-repeat;
}

.fileLocationUnknown
{
	background: url('/Admin/Images/Ribbon/Icons/Small/folder_delete.png') 6px 4px no-repeat;
}

.noFilesContainer
{
	margin-left: 6px;
	padding: 3px;
}

.progressBackground
{
	float: left;
	padding: 0px !important;
	margin: 0px !important;
	width: 100px !important;
	height: 15px !important;
	background: url('/Admin/Filemanager/Upload/images/progress_bg.png') top left no-repeat;
}

.progressBackground .progressFill
{
	display: block;
	height: 100%;
	background: url('/Admin/Filemanager/Upload/images/progress_fill.png') top left no-repeat;
}

.uploadStatus
{
	margin-left: 7px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: left top;
}

.uploadStatusCustom
{
	float: left;
	font-style: italic;
}

.uploadLogEntry
{
	color: #C3C3C3;
}

.C1
{
	padding-top: 0px !important;
	width: 24px !important; 
	text-align: center !important;
}
	
.C2
{
	white-space: nowrap;
	overflow: hidden;
	width: 350px;
}

.C3
{
	width: 75px;
}

.C4
{
	width: 150px;
}

.C5
{
	width: 150px;
}

.C6
{
	width: 32px;
	text-align: center;
}

.selectButton
{
	font-family: Arial, Microsoft JhengHei;
	font-size: 11px;
	color: #15428b;
	width: 99%;
	text-align: center;
	
}

.fileExists
{
	/* Nothing goes here */
}

.itemsContainer
{
	zoom: 1;
	position:fixed; 
	top:168px;
	left:0px;
	bottom:25px; 
	right:0px; 
	overflow:auto;
}

.itemsWrapper
{
	zoom: 1;
	position:relative;
}

.groupDisabled
{
	color: #c3c3c3 !important;
}
