body 
{
	background-color: #ffffff;
	overflow: auto;
	overflow-x: hidden;
    margin-top:25px;
}

.content
{
	border-left: 1px solid #9faec2;
	margin-left: 20px;
}

.settingsContent
{
	background-color: #FFFFFF;
	overflow: auto;
	width: 100%;
}
.Toolbar {
  position: fixed;
  top:0px;
  width: 100%;
}

.cropText {
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}