<div id="pagecart">
	<h2>Shopping Cart</h2>
    <div id="counter">
        <span id="cartcount">Items in basket: </span>
        <span id="cartcount_value"><!--@Ecom:Order.OrderLines.TotalQuantity--></span>
    </div>
    <div id="amount">
        <span id="cartamount">Total: </span>
        <span id="cartamount_value"><!--@Ecom:Order.PriceWithoutFees--></span>
    </div>
    <div id="cartfunctions">
        <a href="javascript:confirmation('<!--@Global:Pageview.Url-->&amp;cartcmd=emptycart','Do you want to empty your basket?');">- Empty basket</a>
        <a href="javascript:emptybasketajax('Do you want to empty your basket?');">- Empty basket with AJAX</a>
        <a href="/default.aspx?ID=52&amp;step=1">- Show basket</a>
    </div>
    <div id="currency">
    	<a href="/default.aspx?id=<!--@Global:Page.ID-->&amp;currencycode=EUR&amp;redirect=/<!--@Global:Pageview.Url-->">€</a> | <a href="/default.aspx?id=<!--@Global:Page.ID-->&amp;currencycode=USD&amp;redirect=/<!--@Global:Pageview.Url-->">$</a>
    </div>
</div>