<script type="text/javascript" language="JavaScript">
<!--
function submitForm() {
	document.submitMethodData.submit();
}
// -->
</script>
<h2>Payment and delivery (step 3 of 5)</h2>
<div align="center">
    <form method="post" action="<!--@Ecom:Order.NextStep-->" name="submitMethodData">
        <table width="100%" border="0" cellspacing="0" cellpadding="8" id="method">
            <tr class="basketheader">
                <td width="50%" valign="top" align="left">Paymentmethods</td>
                <td width="50%" valign="top" align="left">Deliverymethods</td>
            </tr>
	        <tr>
                <td width="50%" valign="top" align="left">
		            <!--@LoopStart(Paymethods)-->
		                <input type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->">&nbsp;
						<label for="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->"><!--@Ecom:Cart.Paymethod.Name--></label><br>
		            <!--@LoopEnd(Paymethods)-->
                </td>
		        <td width="50%" valign="top" align="left">
    		        <!--@LoopStart(Shippingmethods)-->
	        	        <input type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->">&nbsp;
						<label for="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->"><!--@Ecom:Cart.Shippingmethod.Name--></label><br>
		            <!--@LoopEnd(Shippingmethods)-->
                </td>
            </tr>
	        <tr class="footer">
                <td align="center" colspan="2">
                    <a href="<!--@Ecom:Order.PrevStep-->" class="prevstep">Back</a>
                    <a href="javascript:submitForm();" class="nextstep">Next</a>
                </td>
            </tr>
        </table>
    </form>
</div>

