<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/screen.css">
</head>
<body>
    <div id="contentmain" class="dwcontent" title="Main content" data-settings="template:moduleonly.html;unwrap:true;"></div>
    <input type="button" id="js_btn_click_me" value="Click Me!"/>
    <p>lol another test again again and again and again</p>
    <p>and yet another again again again again!</p>
</body>
</html>
