html, body
{
	border-right: none !important;
}

div.indexer-master
{
    height: 16px;
    padding-left: 20px;
}

div.indexer-normal
{
    background: url('/Admin/Images/Ribbon/Icons/Small/Connection.png') top left no-repeat;
}

div.indexer-new 
{
    background: url('/Admin/Images/Ribbon/Icons/Small/data_information.png') top left no-repeat;
}

div.indexer-locked
{
	background: url('/Admin/Images/Ribbon/Icons/Small/data_replace.png') top left no-repeat;
}

div.grid-container
{
	margin-top: 10px;
	margin-left: 4px;
	margin-right: 4px;
	border: 1px solid #bdcce0;
	height: 110px;
	overflow: auto;
	background-color: #ffffff;
}

.popup-progress
{
	padding-top: 175px !important;
	height: 280px !important;
}

.index-new,
.index-active,
.index-locked
{
	font-weight: bold;
}

div.item-new,
div.item-updated,
div.item-deleted
{
	
	padding-left: 20px;
	padding-bottom: 2px;
	padding-right: 5px;
	display: inline;
	cursor: default;
}

div.item-new
{
	background: url('/Admin/Images/Ribbon/Icons/Small/document_new.png') top left no-repeat;
}

div.item-updated
{
	background: url('/Admin/Images/Ribbon/Icons/Small/EditDocument.png') top left no-repeat;
}

div.item-deleted
{
	background: url('/Admin/Images/Ribbon/Icons/Small/DeleteDocument.png') top left no-repeat;
	padding-right: 0px;
}

div.contextmenu,
.submenu
{
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

div.stylishButton-container
{
	margin:0px;
	padding: 0px;
	
	height: 18px;
	line-height: 18px;
	width: 92px;
}	

div.stylishButton
{
	text-align: center;
	cursor: pointer;
	
	height: 16px;
	line-height: 16px;
	
	width: 90px;
	margin: 0px;
	padding: 0px;
	
	border: 1px solid #8492a6;
	background: url('/Admin/Images/Ribbon/UI/List/PipeL.gif') top left repeat-x;
	font-family: Arial, verdana, Microsoft JhengHei;
	font-size: 11px;
}

div.stylishButton-active
{
	position: absolute;
	z-index: 1000000;
	
	background: none !important;
	background-color: #FCFCFC !important;
	border-bottom: 1px solid #FCFCFC !important;
}

div.stylishButton-disabled
{
	color: #8c8c8c;
	cursor: default;
	border: 1px solid #c3c3c3;
}

td.row-last-updated a
{
    margin-top: 2px;
    height: 18px;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    background: url('/Admin/Images/Ribbon/Icons/Small/Error.png') top left no-repeat;
    color: #BC0000;
    
}

td.row-last-updated a:hover,
td.row-last-updated a:focus,
td.row-last-updated a:active
{
    outline: none;
    text-decoration: none;
}