<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
</head>
<body>
    <div id="contentmain" class="dwcontent" title="Main content" data-settings="template:moduleonly.html;unwrap:true;"></div>
    <input type="button" id="js_btn_click_me" value="Click Me!"/>

</body>
</html>
