html,body
{
	margin: 0px;
	padding: 0px;
	font-size :11px;
	font-family :Verdana, Helvetica, Arial, Tahoma;
	font-weight :Normal;
	font-style :Normal;
	text-align :Left;
	color :#333333;
}
.NewUiTab
{
	margin: 0px;
	padding: 0px;
	border:0px;
	width:100%;
	margin-left: 0px;
	margin-top: 0px;
	font-family: Arial, Microsoft JhengHei;
	font-size: 11px;
	color: #15428b;
	border-top :0px solid #9FAEC2;
	border-left :0px solid #9FAEC2;
	background: #dfe9f5 url('/Admin/images/Ribbon/UI/Tab/tab_bg.jpg') repeat-x bottom left;
	/*float: left;*/
	height: 27px;
}

.NewUiTab .tabspacer
{
	margin: 0px;
	padding: 0px;
	border:0px;
	background-color:#EFF5FA;
	border-bottom:solid 1px #ADD1FF;
	height:2px;
	line-height:2px;
	font-size:0px;
}

.NewUiTab .tabitemscontainer
{
	margin: 0px;
	padding: 0px;
	border:0px;
	float: left;
	vertical-align:bottom;
	color: #15428b;
	height:26px;
}
.NewUiTab .tabitems a
{
	cursor: default;
	color: #15428b;
	margin: 0px;
	padding: 0px;
	border: 0px;
	padding-right: 10px;
	text-decoration: none;
	display: block;
	float: left;
	line-height:23px;
	background: url('/Admin/images/Ribbon/UI/Tab/reg_bg.jpg') no-repeat top right;
}

.NewUiTab .tabitems li.activeitem a, .NewUiTab .tabitems li.activeitem a:hover {
	background: url('/Admin/images/Ribbon/UI/Tab/active_bg.jpg') no-repeat top right;
	cursor:pointer;
	}
	
.NewUiTab .tabitems li.activeitem a span, .NewUiTab .tabitems li.activeitem a:hover span 
{
	background: url('/Admin/images/Ribbon/UI/Tab/active_starter.jpg') no-repeat top left;
	cursor: pointer;
	}

.NewUiTab ul.tabitems
{
	border:0px;
	margin: 0px;
	padding: 3px;
	list-style: none;
	/*height:29px;
	line-height:29px;*/
	
}
.NewUiTab ul.tabitems li
{
	margin: 0px;
	padding: 0px;
	border:0px;
	margin-left:3px;
	list-style: none;
	display: block;
	float: left;
	/*height:29px;
	line-height:29px;*/

}
.NewUiTab .tabtext
{
	display:block;
	/*line-height:29px;*/
	background: url('/Admin/images/Ribbon/UI/Tab/reg_starter.jpg') no-repeat top left;
	padding: 0px 0px 0px 10px;
}

.NewUiTab a:hover .tabtext 
{
	background: url('/Admin/images/Ribbon/UI/Tab/hover_starter.jpg') no-repeat top left;
	}
	
.NewUiTab ul.tabitems li img.starter
{
	margin: 0px;
	padding: 0px;
	border:0px;
	vertical-align:top;
	height:21px;
	width: 2px;
	margin-right:8px;
	background: url('/Admin/images/Ribbon/UI/Tab/Start.gif' ) top left no-repeat;
}

.NewUiTab ul.tabitems li.activeitem
{
	background: url('/Admin/images/Ribbon/UI/Tab/active_bg.jpg' ) top right no-repeat;
}

.NewUiTab ul.tabitems li a:hover
{
	background: url('/Admin/images/Ribbon/UI/Tab/hover_bg.jpg' ) top right no-repeat;
	cursor: pointer;
}


.tabTable {
	border-left :0px solid #9FAEC2;
	border-right :0px solid #9FAEC2;
	width:100%;
	/*height:225px; by SED */
	background: #f4f8fc url('/Admin/images/Ribbon/UI/Tab/tabTable_bg.jpg') repeat-x top left;
	margin-left: 0px;
	clear: both;
}

.NewUiTab .title
{
	color: #15428b;
	margin: 0px;
	padding: 0px 5px 0px 0px;
	padding-left:5px;
	font-size:14px;	
	float: right;
}

.NewUiTab .title strong
{
	color: #15428b;
	font-size: 14px;
	line-height: 26px;
	font-weight: bolder;
	font-family: Arial, Microsoft JhengHei;
}