.dwGrid
{
	font-family: Arial, Microsoft JhengHei;
	font-size: 11px;
	position: relative;
	background-color: #FFFFFF;
}

/* Header */
.dwGrid .header th
{
	background: url('/Admin/Images/Ribbon/UI/EditableGrid/header.gif') top left repeat-x;
	height: 22px;
	cursor: default;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: left;
}

.dwGrid .highlightRow
{
	/* Nothing goes here - needed to enable/disable row highlighting */
}

.dwGrid .selectedRow
{
	background-color: #DDDDDD;
}

/* Row */
.dwGrid tr.highlightRow
{
	background-color: #FFFFFF;
}

.dwGrid tr.highlightRow:hover
{
	background-color: #EBF7FD;
}

.dwGrid tr.row td
{
	height: 21px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid #E3EFFF;
}

.dwGrid .actionRow
{
	cursor: hand;
}

/* Draggable row */
.dwGrid .draggableRow td
{
	opacity: 0.4;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
}

/* Footer */
.dwGrid .footer 
{
	height: 21px;
	background-color: #ffffff;
	text-decoration: none;
	color: #a9a9a9;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	cursor: pointer;
}

/* 'No records found' row */
.dwGrid .empty 
{
	/* Nothing goes here - using default InfoBar control styles */
}

.dwGrid .subheader
{
    background-color: #DDECFF;
    height: 21px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 20px;
    border-top: solid 1px #9FAEC2;
    text-align: right;
}

.dwGrid .dis
{
    background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    color: Gray;
}
                