<div id="ContextMenu<!--@Id-->" style="display:none">
<span class=altMenuLeftPane></span>
<table cellpadding=0 cellspacing=0 border=0 style="width:100%" class="mout">

<!--@LoopStart(Item)-->
<tr><td onClick="DoOnEvent(<!--@EntityId-->,<!--@EntityType-->,<!--@OnEvent-->,<!--@NodeId-->);" 
	onmouseover="this.className='moov';ObjContextMenu.doNotHide();" 
	onmouseout="this.className='mout';ObjContextMenu.hideMenu();" 
	class="mout">
	<img src="<!--@Image-->" align="absmiddle" class="altMenuImg"><!--@Name--></td>
</tr>
<!--@LoopEnd(Item)-->

</table>
</div>