body 
{
    border-right: none !important;
}

html, body
{
    background-color: #efefef !important;
}

fieldset
{
    margin: 0px !important;
}

div.checkbox-field-disabled
{
    color: #939393;
}

span.filter-options-grid-delete-offset
{
    margin-left: 12px;
}

a.filter-options-noselect:hover,
a.filter-options-noselect:active,
a.filter-options-noselect:focus,
a.filter-options-noselect:visited
{
    outline: none;
}

div.filter-options-selector-container
{
    width: 664px;
}

div.filter-options-container-outer
{
    width: 640px;
    height: 300px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

div.filter-options-container
{
    width: 638px;
    height: 270px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #9faec2;
    background-color: #ffffff;
}

div.filter-undo-button
{
    height: 32px;
    margin: 0px;
    padding: 0px;
}

div.filter-undo-button input
{
    float: right;
    margin-top: 5px;
}

div.filter-options-splash
{
    height: 150px;
    text-align: center;
    cursor: default;
}

div.filter-options-splash span
{
    display: block;
    margin-top: 120px;
}

div.filter-options-notselected
{
    font-style: italic;
}

div.filter-options-defaults span.button-container
{
    display: block;
    margin: 0px auto;
    margin-top: 5px !important;
}

div.filter-options-defaults span.button-container input
{
    width: 125px;
}

div.filter-options-grid
{
    border: 1px solid #efefef;
}

.checkbox-field
{
    margin-top: 2px;
    height: 16px;
    line-height: 16px;
}

.checkbox-field span,
.checkbox-field label
{
    float: left;
}

.checkbox-field label.checkbox-field-radiolabel
{
    margin-right: 15px;
}

.checkbox-field input
{
    float: left;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    outline: none;
    margin-right: 2px;
}

.options-clear
{
    height: 1px;
    visibility: hidden;
    clear: both;
}