<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>


    <!-- Controls resources start -->
    <link rel="stylesheet" type="text/css" href="/Admin/Images/Ribbon/Ribbon.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Images/Ribbon/UI/Overlay/Overlay.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Images/Ribbon/UI/Dialog/Tabular/Dialog.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Images/Ribbon/UI/Dialog/PopUpWindow.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Module/OMC/css/AjaxRichControl.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Images/Ribbon/UI/Richselect/Richselect.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Images/Ribbon/UI/Contextmenu/Contextmenu.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Content/StyleSheetNewUI.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Content/Items/css/Default.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Content/Items/css/ItemTypeEdit.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Content/Items/css/LanguageSelector.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Images/Ribbon/UI/Toolbar/Toolbar.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/Admin/Content/JsLib/prototype-1.7.js"></script>
    <script type="text/javascript" src="/Admin/Content/JsLib/scriptaculous-js-1.9/src/scriptaculous.js?load=effects,dragdrop,slider,controls"></script>
    <script type="text/javascript" src="/Admin/Content/JsLib/dw/Utilities.js"></script>
    <script type="text/javascript" src="/Admin/Images/Ribbon/Ribbon.js"></script>
    <script type="text/javascript" src="/Admin/Images/Ribbon/UI/Overlay/Overlay.js"></script>
    <script type="text/javascript" src="/Admin/Images/Ribbon/UI/Dialog/Dialog.js"></script>
    <script type="text/javascript" src="/Admin/Filemanager/Upload/js/EventsManager.js"></script>
    <script type="text/javascript" src="/Admin/Images/Ribbon/UI/Dialog/PopUpWindow.js"></script>
    <script type="text/javascript" src="/Admin/Content/JsLib/dw/Ajax.js"></script>
    <script type="text/javascript" src="/Admin/Content/JsLib/dw/Observable.js"></script>
    <script type="text/javascript" src="/Admin/Images/Ribbon/UI/Richselect/Richselect.js"></script>
    <script type="text/javascript" src="/Admin/Images/Ribbon/UI/Contextmenu/Contextmenu.js"></script>
    <script type="text/javascript" src="/Admin/Content/JsLib/require.js"></script>
    <script type="text/javascript" src="/Admin/Content/Items/js/Default.js"></script>
    <script type="text/javascript" src="/Admin/Content/Items/js/ItemTypeEdit.js"></script>
    <script type="text/javascript" src="/Admin/Images/Ribbon/UI/Toolbar/Toolbar.js"></script>
    <!-- Controls resources end -->


    <script type="text/javascript">
        Dynamicweb.Ajax.ControlManager.get_current().initialize();
    </script>

    @RenderSection("scripts", required: false)

</head>
<body>
    @RenderBody()
</body>
</html>
