body
{
	background-color:#ffffff;
}
img
{
	border:0px;
}
input
{
	
}

#copyWaitPanel
{
	width:350px;
}

input[type="checkbox"], input[type="radio"]
{
	margin:0px;
	padding:0px;
	line-height:13px;
	height:13px;
	margin-top:3px;
}


#_contentWrapper{
	position:fixed;
	top:113px;
	left:0px;
	bottom:53px;
	right:1px;
	overflow:auto;
	border-top:1px solid #BDCCE0;
}

span.ShowFalse, li.ShowFalse
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; 
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

#myribbon
{
	min-width:838px;
}

.HideTrue
{
	display:none;
}

.ShowTrue
{
	display:inherit;
}

.ShowFalse
{
	display:none;
}

.list ul
{
	min-width:870px;
}

.list #items li
{
	height:auto;
	min-height:23px;
	background-color:#FFFFFF;
	cursor:default;
	border-bottom:1px solid #BDCCE0;
}

.list #items li.area-inaccessible
{
	background-color: #f8f8f8 !important;
	color: #c3c3c3 !important;
}


.list #items li.area-inaccessible img
{
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.list #items li.area-inaccessible a
{
	color: #c3c3c3 !important;
}

.list span 
{
	height:auto;
	line-height:normal;
		
}

.list li.header
{
	border-top:0px solid #BDCCE0;
	min-width:870px;
}

.list #items li.active
{
	/*background-color:#A7CDF0;*/
	background-color: #FFF8DC;
}

#BottomInformationBg
{
	height:53px;
	width:100%;
	min-width:818px;
	background-image:url('/Admin/Images/BottomInformationBg.png');
	background-repeat:repeat-x;
	position:fixed;
	bottom:0px;
}

#BottomInformationBg img
{
	margin:10px;
}

#BottomInformationBg .label
{
	color: #5A6779;
	padding-left:5px;
	padding-right:5px;
}

.Infobar
{
	position:relative;
	margin:3px;
}

.WorkflowState
{
	float:left;
	margin-right:2px;
}

#Area_1
{
	background-color:#006E12;
}

.C0
{
	vertical-align:middle;
	padding:0px;
	margin:0px;
	width:46px;
	line-height:16px;
	height:16px;
	white-space: nowrap;
}

.C1
{
	vertical-align:middle;
	padding:0px;
	width:32px;
	text-align:center;
}

.C1 img
{
	vertical-align:middle;
}
	
.C2
{
	white-space:nowrap;
	overflow:hidden;
	width:225px;
}

.C3_1
{
	width:60px;
	text-align:left;
}

.C3
{
	width:50px;
	text-align:center;
}
.C3 img
{
	margin-top:3px;
}	
.C4
{
	width:150px;
	overflow:hidden;
	white-space:nowrap;
}
	
.C5
{
	white-space:nowrap;
	overflow:hidden;
	width:110px;
}
	
.C6
{
	width:0px;
}
