<h1>
	<!--@Ecom:Group.Name-->
</h1>
<div id="grouplist">
	<!--@LoopStart(Subgroups)-->
	<!--@HeaderStart-->
	<ul>
		<!--@HeaderEnd-->
		<li><a href="<!--@Ecom:Group.Link.Clean-->" title="<!--@Ecom:Group.Name-->" class="GroupLink">
			<h2>
				<!--@Ecom:Group.Name-->
			</h2>
			<!--@If Defined(Ecom:Group.SmallImage)-->
			<img src="<!--@Ecom:Group.SmallImage-->" alt="<!--@Ecom:Group.Name-->" width="300" />
			<!--@EndIf(Ecom:Group.SmallImage)-->
			<!--@If Not Defined(Ecom:Group.SmallImage)-->
			<img src="x.gif" alt="<!--@Ecom:Group.Name-->" width="300" />
			<!--@EndIf(Ecom:Group.SmallImage)-->
		</a><a href="<!--@Ecom:Group.Link.Clean-->" class="readmore">
			<!--@Translate(showproduct, "Show products")-->
		</a></li>
		<!--@FooterStart-->
	</ul>
	<!--@FooterEnd-->
	<!--@LoopEnd(Subgroups)-->
</div>