<tr id="<!--@TRID-->" style="<!--@TRShowStyle-->" oncontextmenu="ObjContextMenu.Open(event,'ContextMenu<!--@NodeId-->');">
	<td>
		<table cellspacing="0" cellpadding="0" border="0" >
			<tr>
				<td style="padding-left:<!--@Indent-->"></td>
				<td><table cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;">
						<tr>
							<td width="14" align="center" valign="top" style="padding-left:<!--@ExpandIndent-->">
								<span style="<!--@ExpandShowStyle-->" id="ExpandOnSpan<!--@ExpandOnSpanID-->">
									<a href="#" onClick="ObjTree.ExpandOnPlus('<!--@TRID-->');"><img src="/Admin/Images/Expand2.gif" class="H"></a>
								</span>
								<span style="<!--@ExpandOffShowStyle-->" id="ExpandOffSpan<!--@ExpandOffSpanID-->">
									<a href="#" onClick="ObjTree.ExpandOnMinus('<!--@TRID-->');" ><img src="/Admin/Images/Expand_off2.gif" class="H"></a>
								</span>							
							</td>
							<td width="18" valign="top" class="H">
								<a href="#" onClick="DoOnEvent(<!--@EntityId-->,<!--@EntityType-->,<!--@OnEvent-->,<!--@NodeId-->);return false;"
								    title="<!--@FullName-->" name="nameLink">
									<img src="<!--@Image-->" align="absmiddle" vspace="1" hspace="1"></a>
							</td>
							<td width="100%" nowrap>
								<span class="H">
									<a class="<!--@NodeTextStyle-->" href="#" id="NodeNameHref<!--@TRID-->" title="<!--@FullName-->"
										onClick="DoOnEvent(<!--@EntityId-->,<!--@EntityType-->,<!--@OnEvent-->,<!--@NodeId-->);return false;"><!--@Name--></a>
								</span>
							</td>
							<td>							
						</td></tr>
					</table>
				</td>
			</tr>
		</table>
		<!--@ContextMenu-->
		<input type=hidden name="NodeName<!--@NodeId-->" id="NodeName<!--@NodeId-->" value="<!--@Name-->">
		<input type=hidden name="NextEntityIdOnDelete<!--@NodeId-->" id="NextEntityIdOnDelete<!--@NodeId-->" 
			value="<!--@NextEntityIdOnDelete-->">
		<input type=hidden name="NextEntityTypeOnDelete<!--@NodeId-->" id="NextEntityTypeOnDelete<!--@NodeId-->"
			value="<!--@NextEntityTypeOnDelete-->">
		<input type=hidden name="NodeTRID<!--@EntityId--><!--@EntityType-->" 
		id="NodeTRID<!--@EntityId--><!--@EntityType-->" value="<!--@TRID-->">
		<input type=hidden name="EntityID<!--@TRID-->" id="EntityID<!--@TRID-->" value="<!--@EntityId-->">
		<input type=hidden name="EntityType<!--@TRID-->" id="EntityType<!--@TRID-->" value="<!--@EntityType-->">
	</td>
</tr>