.ModuleSettingsList, .ModuleSettingsList th, .ModuleSettingsList td 
{
	border: solid 1px black;
	border-collapse: collapse;
}

.ModuleSettingsList td
{
	border-top: none;
	border-bottom: none;
}

.SettingsListPadding 
{
	padding-left: 10px;
	padding-right: 10px;
}

.SettingsListCheckbox 
{
	text-align: center;
}

#ModuleSettingsList th 
{
	padding-left: 4px;
	padding-right: 4px;
}

