<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- Authentication type 
    
    Possible values:
      1. "Basic" - Basic HTTP Authentication.
      2. "Digest" - Digest HTTP Authentication.
    -->
    
    <add key="WebDavServerAuthenticationType" value="Digest" />
    
    <!-- Authentication realm -->
    
    <add key="WebDavServerAuthenticationRealm" value="Administrators" />
    
    <!-- Enable logging (log file is placed in the root of the application) -->
    
    <add key="WebDavServerEnableLogging" value="false" />
    
  </appSettings>
	<connectionStrings />
	<system.web>
		<httpHandlers>
			<clear />
			<add verb="*" path="*" type="WebDav.Server.WebDavHttpHandler, WebDav.Server" />
		</httpHandlers>
		<compilation debug="true" strict="false" explicit="true">
		</compilation>
		<pages>
			<namespaces>
				<clear />
				<add namespace="System" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Web" />
			</namespaces>
		</pages>
    <authentication mode="None" />
    <authorization>
      <allow users="?" />
    </authorization>
  </system.web>
    <system.webServer>
        <handlers accessPolicy="Read, Script, Execute">
            <remove name="WebDAV" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <remove name="StaticFile" />

            <add name="Dynamicweb.WebDAV" verb="*" path="*" type="WebDav.Server.WebDavHttpHandler, WebDav.Server" />
        </handlers>
    </system.webServer>
</configuration>
