<table class="table table-striped">
	<thead>
		<td>Filename</td>
		<td align=right>Filesize</td>
		<td align=right>Date</td>
	</thead>
	<tbody>
		@GetValue("FilepublishList")
	</tbody>
</table>
@GetValue("FilepublishUpload")