<table cellspacing="1" cellpadding="1" width="100%" border="1">
	<tr>
		<td><a style="font-weight: bold; font-size: 7pt;">RSS ITEM</a></td>
	</tr>
	<tr>
		<td>ItemTitle</td>
		<td>
			<!--@RSSExtItemTitle-->
		</td>
	</tr>
	<tr>
		<td>ItemLink</td>
		<td>
			<!--@RSSExtItemLink-->
		</td>
	</tr>
	<tr>
		<td>ItemDescription</td>
		<td>
			<!--@RSSExtItemDescription-->
		</td>
	</tr>
	<tr>
		<td>ItemAuthor</td>
		<td>
			<!--@RSSExtItemAuthor-->
		</td>
	</tr>
	<tr>
		<td>ItemGuid</td>
		<td>
			<!--@RSSExtItemGuid-->
		</td>
	</tr>
	<tr>
		<td>ItemPubDate</td>
		<td>
			<!--@RSSExtItemPubDate-->
		</td>
	</tr>
</table>
