<table>
	<tr>
		<td width=150>Brugernavn : </td>
		<td><!--@DWUsers:User:Username--></td>
	</tr>
	<tr>
		<td>Adgangskode : </td>
		<td><!--@DWUsers:User:Password--></td>
	</tr>
	<tr>
		<td>Navn : </td>
		<td><!--@DWUsers:User:Name--></td>
	</tr>
	<tr>
		<td>E-mail : </td>
		<td><!--@DWUsers:User:Email--></td>
	</tr>
	<tr>
		<td>Afdeling : </td>
		<td><!--@DWUsers:User:Department--></td>
	</tr>
	<tr>
		<td>Bruger niveau : </td>
		<td><!--@DWUsers:User:Type--></td>
	</tr>
	<tr>
		<td>Gyldig fra : </td>
		<td><!--@DWUsers:User:ValidFrom.GeneralDate--></td>
	</tr>
	<tr>
		<td>Gyldig til : </td>
		<td><!--@DWUsers:User:ValidTo--></td>
	</tr>
</table>