   <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:180px;">
                Brugernavn</td>
            <td>
                <!--@DWextranet_AccessUserUserName-->
            </td>
        </tr>
        <tr>
            <td>
                Navn</td>
            <td>
                <!--@DWextranet_AccessUserName-->
            </td>
        </tr>
        <tr>
            <td>
                E-mail</td>
            <td>
                <!--@DWextranet_AccessUserEmail-->
            </td>
        </tr>
        <tr>
            <td>
                Afdeling</td>
            <td>
                <!--@DWextranet_AccessUserDepartment-->
            </td>
        </tr>
        <tr>
            <td>
                Telefon</td>
            <td>
                <!--@DWextranet_AccessUserPhone-->
            </td>
        </tr>
        <tr>
            <td>
                Telefax</td>
            <td>
                <!--@DWextranet_AccessUserFax-->
            </td>
        </tr>
        <!--@DWextranet_AccessUserDefinedList-->
        <!--@DWextranet_AccessCanEditView-->
    </table>