<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <style type="text/css">
			body  {
				font-size :11px;
				font-family :Verdana, Helvetica, Arial, Tahoma, sans-serif;
				text-align :Left;
				color :#333333;
				background-color:#F9F8F3;
			}
			td  {
				font-size:11px;
				font-family:Verdana, Helvetica, Arial, Tahoma, sans-serif;
				color :#333333;
			}

		</style>
</head>
<body>
    <h3>
        Approve your registration</h3>
    <table width="300" border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td colspan="3">
                Your profile settings are:</td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                ID:</td>
            <td style="white-space:nowrap;">
                <!--@ID-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Login:</td>
            <td style="white-space:nowrap;">
                <!--@Login-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Password:</td>
            <td style="white-space:nowrap;">
                <!--@Password-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Name:</td>
            <td style="white-space:nowrap;">
                <!--@Name-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                E-mail:</td>
            <td style="white-space:nowrap;">
                <!--@Email-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Phone:</td>
            <td style="white-space:nowrap;">
                <!--@Phone-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Fax:</td>
            <td style="white-space:nowrap;">
                <!--@Fax-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Address:</td>
            <td style="white-space:nowrap;">
                <!--@Address-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Address2:</td>
            <td style="white-space:nowrap;">
                <!--@Address2-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Zip:</td>
            <td style="white-space:nowrap;">
                <!--@Zip-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                City:</td>
            <td style="white-space:nowrap;">
                <!--@City-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Country:</td>
            <td style="white-space:nowrap;">
                <!--@Country-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Company:</td>
            <td style="white-space:nowrap;">
                <!--@Company-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                Mobile:</td>
            <td style="white-space:nowrap;">
                <!--@Mobile-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                CustomerNumber:</td>
            <td style="white-space:nowrap;">
                <!--@CustomerNumber-->
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap;">
                CurrencyCharacter:</td>
            <td style="white-space:nowrap;">
                <!--@CurrencyCharacter-->
            </td>
        </tr>
        <!--@DWextranet_AccessUserDefinedList-->
        <tr>
            <td style="white-space:nowrap;">
                <a href="<!--@ApproveLink-->">Approve</a></td>
            <td style="white-space:nowrap;">
                <a href="<!--@DeclineLink-->">Decline</a></td>
        </tr>
    </table>
</body>
</html>
