.balancer
{
    border: 2px solid transparent;
    padding:3px;
}

.balancer:hover {
    opacity: 0.7;
    cursor: pointer;
    border-width:2px;
    border-color: rgb(0, 148, 255);
    border-radius: 6px;
}
        
        
.progress[value] {
    cursor: pointer;
    border-radius: 3px;
    border: 0px solid white;
    margin: 0px;
    width: 150px;
    height: 22px;
    position: relative;
}

.state-never {
    opacity: 0.7;
    color: silver;
    background-color: silver;
}

.state-text-never {
    color: black;
}

.state-completed {
    opacity: 0.7;
    color: green;
    background-color: green;
}

.state-text-completed {
    color: white;
}

.state-failed {
    opacity: 0.7;
    color: rgb(229, 82, 82);
    background-color: red;
}

.state-text-failed {
    color: white;
}


.state-running-first {
    opacity: 0.4;
    color: black;
    background-color: grey;
}

.state-text-running-first {
    color: black;
}

.state-running-from-completed {
    opacity: 0.4;
    color: black;
    background-color: green;
}
.state-text-running-from-completed {
    color: white;
}

.state-running-from-failed {
    opacity: 0.4;
    color: black;
    background-color: red;
}

.state-text-running-from-failed {
    color: white;
}

td:hover .progress[value] {
    opacity: 0.5;
    cursor: pointer;
    border-color: rgb(0, 148, 255);
    border-radius: 6px;
}

.progress-text {
    cursor:pointer;
    font: 12px Helvetica;
    xcolor: black;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: -22px;
}

.list-options ul, .list-options li.header {
    min-width: 500px !important;
}

.list-options .C3 {
    width:auto;
    float:right;
}

.item-field-no-longer-available span{
    color:red;
}

.btn-build {
    margin-right: 4px;
}

.view-index-root-folder {
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #9E9D9D;
    font-size: smaller;
}