.dwe-clear
{
    clear: both;
    visibility: hidden;
    height: 1px;
}

.dwe-two-tier
{
    display: inline-block;
}

.dwe-values .dwe-values-list
{
    border: 1px solid #abadb3;
    width: 250px;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.dwe-values .dwe-values-list.dwe-disabled
{
    overflow: hidden !important;
}

.dwe-values .dwe-values-list ul,
.dwe-values .dwe-values-list ul li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.dwe-values .dwe-values-list.dwe-disabled ul,
.dwe-values .dwe-values-list.dwe-disabled ul li,
.dwe-values .dwe-values-list.dwe-disabled ul li:hover
{
    background-color: #ffffff !important;
    color: #c3c3c3 !important;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.dwe-values .dwe-values-list ul li,
.dwe-values .dwe-values-list ul li:hover
{
    cursor: default;
}

.dwe-values .dwe-values-list ul li
{
    padding: 2px;
    height: 14px;
    line-height: 14px;
    background-color: #ffffff;
    
    border: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    
    white-space: nowrap;
}

.dwe-values .dwe-values-list ul li.selected
{
    background-color: #E0B070;
    border-top: 1px solid #b09460;
	border-bottom: 1px solid #b09460;
}

.dwe-values .dwe-values-list ul li span
{
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

.dwe-values .dwe-values-list ul li a
{
    float: right;
    display: none;
    height: 16px;
    width: 16px;
    background-image: url('/Admin/Images/Ribbon/Icons/Small/Delete.png');
    background-repeat: no-repeat;
    background-position: 0px -1px;
}

.dwe-values .dwe-values-list ul li:hover
{
    background-color: #ffebc4;
    border-top: 1px solid #b09460;
	border-bottom: 1px solid #b09460;
}

.dwe-values .dwe-values-list ul li:hover a
{
    display: block;
}

.dwe-values .dwe-values-list.dwe-disabled ul li:hover a
{
    display: none !important;
}

.dwe-values .dwe-values-add
{
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}

.dwe-values .dwe-values-add input,
.dwe-values .dwe-values-add a
{
    float: left;
}

.dwe-values .dwe-values-add input
{
    border: 1px solid #abadb3;
    border-right: none;
    
    width: 229px;
 
    height: 16px;
    line-height: 16px;
    
    margin: 0px;
    padding: 1px;
    
    font-size: 11px;
    font-family: Arial, verdana, Microsoft JhengHei;
}

.dwe-values .dwe-values-add a
{
    margin: 0px;
    border: 1px solid #abadb3;
    background-color: #e8e8e8;
    background-image: url('/Admin/Images/Ribbon/Icons/Small/Add2.png');
    background-repeat: no-repeat;
    background-position: 1px 1px;
    width: 18px;
    height: 18px;
}

.dwe-values .dwe-values-add a:active,
.dwe-values .dwe-values-add a:focus
{
    outline: none;
}

.dwe-values .dwe-values-add a:hover
{
    background-color: #efefef;
}

.dwe-values .dwe-values-add a.dwe-disabled,
.dwe-values .dwe-values-add a.dwe-disabled:hover
{
    cursor: default !important;
    background-color: #f1f1f1 !important;
    background-image: url('/Admin/Images/Ribbon/Icons/Small/Add2_disabled.png') !important;
}

