<div>
    <h3>        
        You tried to log in with your  <!--@SocialMediaLogin.ProviderName--> account, with the username <!--@SocialMediaLogin.ProviderUserName-->.
        <br/>
        This <!--@SocialMediaLogin.ProviderName--> account is already connected to the existing dynamicweb account.
        <br/>
        Do you wish to change the connection to your <!--@SocialMediaLogin.CurrentUserUserName--> account?
        
    </h3>
</div>
<input type="submit" id="changeConnection" name="changeConnection" value="Change connection to current account">
<input type="submit" id="loginAnotherAccount" name="loginAnotherAccount" value="Log in using another account">