<table cellspacing="1" cellpadding="1" width="100%" border="1" id="Table1">
	<tr>
		<td>
			<div>
				<a href="<!--@RssShowFile-->">
					<img src="/Files/Templates/RssFeed/RssList/syndicated-feed-icon.gif" border="0" width="16" height="16"></a> <a href="<!--@RssShowFile-->">RSS Feed file</a>
			</div>
		</td>
	</tr>
	<tr>
		<td><a style="font-weight: bold; font-size: 7pt;">RSS HEAD</a></td>
	</tr>
	<tr>
		<td>Title</td>
		<td>
			<!--@RSSExtTitle-->
		</td>
	</tr>
	<tr>
		<td>Link</td>
		<td>
			<!--@RSSExtLink-->
		</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>
			<!--@RSSExtDescription-->
		</td>
	</tr>
	<tr>
		<td>Language</td>
		<td>
			<!--@RSSExtLanguage-->
		</td>
	</tr>
	<tr>
		<td>Copyright</td>
		<td>
			<!--@RSSExtCopyright-->
		</td>
	</tr>
	<tr>
		<td>ManagingEditor</td>
		<td>
			<!--@RSSExtManagingEditor-->
		</td>
	</tr>
	<tr>
		<td>webMaster</td>
		<td>
			<!--@RSSExtwebMaster-->
		</td>
	</tr>
	<tr>
		<td>PubDate</td>
		<td>
			<!--@RSSExtPubDate-->
		</td>
	</tr>
	<tr>
		<td>LastBuildDate</td>
		<td>
			<!--@RSSExtLastBuildDate-->
		</td>
	</tr>
	<tr>
		<td>Generator</td>
		<td>
			<!--@RSSExtGenerator-->
		</td>
	</tr>
	<tr>
		<td>Docs</td>
		<td>
			<!--@RSSExtDocs-->
		</td>
	</tr>
	<tr>
		<td>Ttl</td>
		<td>
			<!--@RSSExtTtl-->
		</td>
	</tr>
	<tr>
		<td>Image</td>
		<td>
			<!--@RSSExtImage-->
		</td>
		<td>
			<!--@RSSExtImageTitle-->
		</td>
		<td>
			<!--@RSSExtLink-->
		</td>
	</tr>
</table>
