.richselect a.richselectbox
{
	border:solid 1px #c3c3c3;
	text-decoration:none;
	display:block;
	overflow:hidden;
	background-color: #fff;
}
.richselect .selectboxcontent
{
	overflow:hidden;
	float:left;
	padding-left:3px;
	overflow:hidden;
	background-color: #fff;
}

.richselect a.richselectbox:hover
{
	border:solid 1px #b09460;
}

.richselect a.richselectbox .richselectboxarrow
{
	border-left:solid 1px #c3c3c3;
	float:right;
	padding:2px 7px 2px 7px;
	height:auto;
	background-image: url('/Admin/Images/Ribbon/UI/TemplatedDropDownList/arrow.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.richselect a.richselectbox .richselectboxarrow:hover
{
	background-color:#febf3f;
	border-left:solid 1px #b09460;
}

.richselect a.selected
{
	border:solid 1px #b09460;
}

.richselect a.selected .richselectboxarrow
{
	background-color:#febf3f;
	border-left:solid 1px #b09460;
}

.richselectitems
{
	display:none;
	padding: 0;
	margin: 0;
	margin-top:-1px;
	list-style: none;
	background-color: #fff;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid #b09460;
	max-height: 190px;
	z-index: 10005;
	position:absolute;
}

.richselectitems li.richselectitem
{
	min-height:30px;
	vertical-align:middle;
	overflow:hidden;
	border-bottom:solid 1px #c3c3c3;
    margin: 0;
}

.richselectitems a
{
	text-decoration:none;
	border:solid 1px #fff;
	display:block;
	vertical-align:middle;
	padding-left:3px;
}

.richselectitems a:hover, .richselectitems .selecteditem a:hover
{
	background-color: #ffebc4;
	border-top:solid 1px #ffebc4;
	border-bottom:solid 1px #ffebc4;
}

.richselectitems .selecteditem a
{
	background-color: #fff3dc;
	border-top:solid 1px #fff3dc;
	border-bottom:solid 1px #fff3dc;
}

.richselect div.item-icons,
.richselectitems div.item-icons
{
	zoom: 1;
	overflow: hidden;
}

.richselect div.item-icons:after,
.richselectitems  div.item-icons:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.richselect div.item-icons div.item-icons-image,
.richselect div.item-icons div.item-icons-description,
.richselectitems div.item-icons div.item-icons-image,
.richselectitems div.item-icons div.item-icons-description
{
	float: left;
}

.richselect div.item-icons-image img,
.richselectitems div.item-icons-image img
{
	margin: 3px;
	border: none;
}

div.template-float-left
{
	float: left;
}
div.template-float-right
{
	float: right;
}
div.wide-field
{
	height:14px;
    overflow:hidden;
}

div.layout-template-image img
{
    max-height: 55px;
	margin: 3px;
	border: none;
}