<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Records.master.vb" Inherits="Dynamicweb.Admin.ModulesCommon.Records" %>
<%@ Register TagPrefix="dw" Namespace="Dynamicweb.Controls" Assembly="Dynamicweb.Controls" %>
<%@ Register Src="~/Admin/Module/Common/Record.ascx" TagName="Record" TagPrefix="list" %>

<!DOCTYPE html PUBLIC  "-//W3C//DTD HTML 4.01 Transitional//EN">
<%@ Import Namespace="Dynamicweb.Backend" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List Records</title>
    <link rel="STYLESHEET" type="text/css" href="/Admin/Stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/Admin/Module/Common/List_Records.css">
    <script language="javascript" type="text/javascript">
       function DeleteConfirm()
       {        
           return confirm('<%=Translate.JSTranslate("Slet")%>?');
        }    
        function cc(objRow)
        { 
            //Change color of row when mouse is over... (ChangeColor)
            objRow.style.backgroundColor = '#EBF7FD';
        }
        function ccb(objRow)
        { 
            //Remove color of row when mouse is out... (ChangeColorBack)
	        objRow.style.backgroundColor='';
        }
    </script>

</head>
<body>
    <form id="TheForm" runat="server" class="formList">
        <table id="List" border="0" cellspacing="0" cellpadding="0" width="99%">
            <asp:Repeater runat="server" ID="ListRepeater">
                <ItemTemplate>
                    <tr onmouseout="ccb(this);" onmouseover="cc(this);">
                        <asp:ContentPlaceHolder ID="ListColumns" runat="server"/>
                            
<%  If ShowSort Then%>

                        <list:Record runat="server" Width="2%" Text="" Visible='<%#StartID=Eval("ID") %>' />
                        <list:Record runat="server" ID="SortUp" Width="2%" IsAction="true" OnRecordClick="OnSortUp" ImgSrc="/Admin/images/PilOp.gif"
                            RecordID='<%# Eval("ID") %>' Visible='<%#not StartID=Eval("ID") %>' />
                        
                        <list:Record runat="server" Width="2%" Text="" Visible='<%#EndID=Eval("ID") %>' />
                        <list:Record runat="server" ID="SortDown" Width="2%" IsAction="true" OnRecordClick="OnSortDown" ImgSrc="/Admin/images/PilNed.gif"
                            RecordID='<%# Eval("ID") %>' Visible='<%#not EndID=Eval("ID") %>' />
                  
<% End If%>          

                        <list:Record runat="server" ID="RecordDelete" Width="8%" IsAction="true" OnRecordClick="OnDelete"
                            Alignment="Center" ImgSrc="/Admin/images/Delete.gif" OnClickClientScript="return DeleteConfirm();" ImageName='<%# Eval("Name") %>'
                            RecordID='<%# Eval("ID") %>' />
                    </tr>
                </ItemTemplate>
            </asp:Repeater>
            <tr runat="server" ID="NoFieldsLabel" >
                <td colspan="6">
                    <dw:TranslateLabel runat="server" Text="No data found"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
<%
Translate.GetEditOnlineScript()
%>
