.leftCol, .leftColHigh {
	width:170px;
}
 .leftColHigh, .leftColHighInt {
	vertical-align: top;
}
.leftColHighInt {
	width:164px;
}
.ListSelectorLink {
	font-size: 11px;
	color:#003366;
	padding: 4px;
}
a.ListSelectorLink:visited {
	color:#003366;
}
a.ListSelectorLink:hover {
	color:#000000;
}