<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td valign="top"><a href="<!--@RSSItemlink-->" target="<!--@RSSFeedTarget-->"><h4 style="margin: 0;"><!--@RSSItemtitle--></h4></a></td>
        <td align="right" valign="middle" nowrap><!--@RSSItempubdate--></td>
    </tr>
    <tr>
        <td colspan="2" valign="top" style="background: #ccc;"><!--@RSSItemdescription--></td>
    </tr>
    <tr>
        <td><a href="<!--@RSSItemcomments-->" target="<!--@RSSFeedTarget-->">Comments</a> (<!--@RSSItemslash:comments-->)</td>
        <td align="right">Author:&nbsp;<!--@RSSItemAuthor--></td>
    </tr>
</table>
<hr />