div.custom-listbox {
  padding: 0px;
  margin: 0px;
}
div.custom-listbox div.custom-listbox-clear {
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}
div.custom-listbox ul {
  margin: 0;
  padding: 0;
  clear: both;
  list-style: none;
  overflow: auto;
}
div.custom-listbox ul.custom-listbox-list {
  min-height: 100px;
  height: 100px;
  min-width: 250px;
  width: 250px;
  border-radius: 2px 2px 2px 2px !important;
}
div.custom-listbox ul.custom-listbox-list.disabled {
  color: grey;
}
div.custom-listbox ul.custom-listbox-list li.custom-listbox-item {
  cursor: pointer;
}
div.custom-listbox ul.custom-listbox-list li.custom-listbox-item:hover {
  background-color: #ebf7fd;
}
div.custom-listbox ul.custom-listbox-list li.custom-listbox-item.selected {
  background-color: Highlight;
  color: HighlightText;
}
div.custom-listbox ul.custom-listbox-list li.custom-listbox-item .icon {
  display: inline-block;
  position: relative;
  margin: 2px 2px 0px 2px;
  min-height: 16px;
  min-width: 16px;
  height: 16px;
  width: 16px;
}
div.custom-listbox ul.custom-listbox-list li.custom-listbox-item .no-icon {
  background-image: url('/Admin/Images/Ribbon/Icons/Small/element.png');
}
div.custom-listbox ul.custom-listbox-list li.custom-listbox-item .text {
  position: relative;
  bottom: 5px;
}
div.custom-listbox ul.custom-listbox-list li.custom-listbox-item img {
  border: none;
  padding: 0;
  margin: 0;
}
div.custom-listbox a.custom-listbox-btn {
  float: left;
  cursor: pointer;
  margin: 5px 5px 0 0;
  border: 1px solid #abadb3;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;
  height: 16px !important;
  border-radius: 2px 2px 2px 2px !important;
}
div.custom-listbox a.custom-listbox-btn:hover,
div.custom-listbox a.custom-listbox-btn:active,
div.custom-listbox a.custom-listbox-btn:visited {
  text-decoration: none;
}
div.custom-listbox a.custom-listbox-btn:focus {
  outline: none;
}
div.custom-listbox a.custom-listbox-btn:hover {
  background-color: #e8f4ff;
}
div.custom-listbox a.custom-listbox-btn-add {
  background-image: url('/Admin/Images/Ribbon/Icons/Small/Add2.png');
}
div.custom-listbox a.custom-listbox-btn-add.disabled {
  background-image: url('/Admin/Images/Ribbon/Icons/Small/Add2_disabled.png');
}
div.custom-listbox a.custom-listbox-btn-remove {
  background-image: url('/Admin/Images/Ribbon/Icons/Small/Remove.png');
}
div.custom-listbox a.custom-listbox-btn-remove.disabled {
  background-image: url('/Admin/Images/Ribbon/Icons/Small/Remove_disabled.png');
}
div.custom-listbox a.custom-listbox-btn-clear {
  background-image: url('/Admin/Images/Ribbon/Icons/Small/Delete2.png');
}
div.custom-listbox a.custom-listbox-btn-clear.disabled {
  background-image: url('/Admin/Images/Ribbon/Icons/Small/Delete2_disabled.png');
}
