.list .title
{
    border-bottom: 1px solid #BDCCE0;
    height: 20px;
    line-height: 18px;
    display: inherit;
    vertical-align: middle;
    padding-left: 10px;
    background: none;
    color: #000;
    font-size: 11px;
    font-weight: normal;
    min-height: 0;
    background-color: #ffffff;
}