img {
	border:0px;
}

.H 
{
	cursor: hand;	
}

strong {
	font-weight:bold;
}

/* <ContextMenu> */
.altMenu{
	background-color:#f6f6f6;
	position:absolute;	
	width:120px;
	left:10px;
	top:10px;
	padding:1px;
	border:1px solid #002D96;
} 

.altMenuLeftPane
{
	left: 0px;
	width: 25px;
	position: absolute;
	top: 0px;
}

.altMenuImg{
	margin-right:7px;
	margin-left:3px;
	border: 0px solid #000;
}

.mout{
	border-width:1px;
	padding:1px;	
}

.moov{
	cursor:pointer;
	background-color:#FFEEC2;
	border:1px solid #000080;
}

/*</ContextMenu> */

/* <Tree> */
a.SelectedNode {				
	font-weight:bold;
}

a:hover.SelectedNode {				
	font-weight:bold;
}

a {
	font-family:verdana, arial;
	font-size: 11px;
	text-decoration:none;
	color:#000000;
	cursor: hand;
}

a:hover {
	font-family:verdana, arial;
	font-size: 11px;
	color:#000000;
	cursor: hand;
}

