<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="all"/>
<style type="text/css">
  .ui-slider-handle
  {
    width: 15px !important;
    height: 15px !important;
    margin-left: -8px !important;
    top: -0.2em !important;
    background: none !important;
    background-color: #dfeffc !important;
  }
  .ui-widget-header
  {
    background: none !important;
    background-color: #a6c9e2 !important;
  }
  .ui-slider
  {
    border-color: #a6c9e2 !important;
  }
  .ui-state-default
  {
    border-color: #a6c9e2 !important;
  }
  .price-input
  {
    width: 50px;
  }
  
  .price-fields div
  {
	float: left;
  }
  
  .price-fields input
  {
	width: 60px;
  }
  
  .price-container
  {
	padding-left: 20px;
  }
</style>

<h3>Price</h3>
<div class="price-container" style="width: 145px;">
  <div id="amount">
   	<div class="price-fields">
		<div class="price-field-from">
			<input type="text" class="price-input" id="PriceRangeFrom" name="<!--@Filters:Current.TagName-->.from" value="" onkeypress="javascript:setSliderPrice(event, this, 0);" />&nbsp;-&nbsp;
		</div>
		<div class="price-field-to">
			<input type="text" class="price-input" id="PriceRangeTo" name="<!--@Filters:Current.TagName-->.to" value="" onkeypress="javascript:setSliderPrice(event, this, 1);" />
		</div>
	</div>
	
	<div style="clear: both"></div>
  </div>
  <div id="slider-range" style="margin-top: 5px; margin-bottom: 5px;"></div>
</div>

<script type="text/javascript">
  $(function() {
	 
    $("#slider-range").slider({
      range: true,
      min: <!--@Ecom:Filters.Price.From-->,
      max: <!--@Ecom:Filters.Price.To-->,
      values: [<!--@Ecom:Filters.Price.CurrentFrom-->, <!--@Ecom:Filters.Price.CurrentTo-->],
      slide: function(event, ui) {
      setPriceRange(ui.values[0], ui.values[1]);
      },
      step: 50
    });
    setPriceRange($("#slider-range").slider("values", 0), $("#slider-range").slider("values", 1));
  });
  
  function setPriceRange(from, to) {
   $("#PriceRangeFrom").val(from);
   $("#PriceRangeTo").val(to);
  }
  
  function setSliderPrice(e, obj, bound){
    if (e.keyCode == 13) {
      $("#slider-range").slider("values", bound, obj.value);
    }
  }
</script>