.list .child
{
    background-color: #FFF;
}
td.columnCell
{
    background: url('/Admin/Images/Ribbon/UI/List/Pipe.gif' ) bottom left repeat-x;
    padding: 1px;
    padding-left: 0px;
    border-bottom: solid 1px #BDCCE0;
}

.listRow > td
{
    height: 21px;
    border-bottom: 1px solid #BDCCE0;
    vertical-align: middle;
    padding-left: 3px;
}

.listRow:hover
{
    background-color: #EBF7FD;
}

span.pipe img
{
    margin: 2px 0px 0px 0px;
    height: 11px;
    width: 1px;
    padding: 0px;
    background-color: #9AC6FF;
}
.list .title
{
    border-bottom: 1px solid #BDCCE0;
    height: 20px;
    line-height: 18px;
    display: inherit;
    vertical-align: middle;
    padding-left: 10px;
    background: none;
    color: #000;
    font-size: 11px;
    font-weight: normal;
    min-height: 0;
    background-color: #ffffff;
}