body  {
	margin-top: 0px; 
	margin-left: 0px; 
	padding: 0;
}

#header, #TableRecepientList {
	background-color: #ece9d8; 
	background-image:  url(../../Images/HeaderBG.gif); 
	margin: 0; 
	padding: 0;	
	height: 20px;
	width: 100%;
	font-weight: bold;
	vertical-align:top;
}
#header td, #TableRecepientList td {
	vertical-align:top;
}

#containerNews, #containerNewsletter {
     margin-top: 0px;
     margin-left: 0px;
}
	
.formNews, .formNewsletter {
	margin: 0px; 
	padding: 0px;
}

/* Tabs */
.seltab {
	height: 20px;
}

.hiddentab {
	height: 20px;
}

.tabTable 
{
	width: 600px;
}
.tabTable fieldset
{
	margin: 5px;
}
.innerTable 
{
	width:570px;
}

/*dividers*/
.dividerRows {
	background-color:#CCC;
	height:1px;
	width:100%;
}
.border_top,.border_top_bot {
	border-top: 1px solid #ccc;
}
.border_bot,.border_top_bot {
	border-bottom: 1px solid #ccc;
}  
/*leftCol*/
.mainTableLeftCol,.leftCol,.leftColHigh {
	width:170px;
}
.leftColHigh {
	vertical-align: top;
}
/*misc*/
.H {
	border: 0px;
}

img {
	vertical-align:text-bottom;
}

.buttonsRow {
	padding-right: 3px; 
	padding-bottom: 3px; 
	vertical-align: bottom; 
}
.buttonsRow table
{
	float:right
}
.checkbox {
	vertical-align: top;
}
.checkbox input {
	vertical-align: middle;
}

#FM_File {
width: 252px;
}

