<div id="variant-filter">
	<h3><!--@Ecom:Filters.VariantGroupName--></h3>
	<ul>
		<!--@LoopStart(VariantOptions)-->
		<li>
			<input type="checkbox" id="<!--@Ecom:VariantOption.ID-->" name="<!--@Filters:Current.TagName-->" value="<!--@Ecom:VariantOption.ID-->" <!--@Ecom:VariantOption.CheckedState--> />
			<label for="<!--@Ecom:VariantOption.ID-->"><!--@Ecom:VariantOption.Name-->&nbsp;<span>(<!--@Ecom:VariantOption.TotalFormatted-->)</span></label>
		</li>
		<!--@LoopEnd(VariantOptions)-->
	</ul>
</div>