	body{
		color: #15428b;
		background:url(/Admin/Images/Ribbon/UI/ContentBG2.gif) top left  repeat-x;
		background-color: #6591CD; margin:0px;
		overflow:hidden;
	}
	.tdb{
		/*
		background-color: #ECE9D8;
		*/
	}
	
	tr.title{
		background: url('/Admin/Images/Ribbon/UI/List/PipeL.gif' ) top left repeat-x;
	}
	
	.title{
		height:25px;
		vertical-align:middle;
		background: url('/Admin/Images/Ribbon/UI/List/PipeL.gif' ) top left repeat-x;
	}
	.title strong{
		color: #15428b;
		font-size:14px;
		font-weight:bolder;
		font-family: Arial, Microsoft JhengHei;
	}

	#AreaName {
		background-color: #ECF4FC;
		height:20px;
		line-height:18px;
		padding-left:2px;
		border-top:solid 1px #FFFFFF;
		border-left:solid 1px #FFFFFF;
		border-bottom:solid 1px #BDCCE0;
		font-family: Arial, Microsoft JhengHei;
		font-weight:bold;
		color: #15428b;
		cursor:pointer;
		overflow:hidden;
		background-image:url(/Admin/Images/DoubleArrowDown.gif);
		background-position:right top;
		background-repeat:no-repeat;
	}
	
	#TreeBox{
		height:100%;
		border-right:1px solid #9FAEC2;
	}
	
		/* Style for page functions, like sort, trashbin and new page */
	.pagef{
		font-style:italic;
		color:#999999;
	}
	
	/* Alternate menus - new ui styles */
    .altMenu{
	    border: solid 1px #6593CF;
	    background-color:#F6F6F6;
	    border: solid 1px #8492A6;
	    background-color:#FCFCFC;
	    -moz-border-radius: 3px;
        border-radius: 3px;
     }

    .altMenuLeftPane{
	    background-image:url(/Admin/Images/Ribbon/UI/Tree/img/iconBg2.gif);
	    background-position:right top;
	    background-repeat:repeat-y;
    }

    .altMenuDivider{
	    background-color:#CFDBEB;
    }

    .mout{
	    display:block;
	    border:1px solid transparent;
    }

    .moov{
	    background-color:#FFE7A2;
	    border:solid 1px #FFB700;
	    background-image:url(/Admin/Images/Ribbon/UI/Contextmenu/Bg.gif);
	    background-position:left top;
	    background-repeat:repeat-x;
	    -moz-border-radius: 2px;
        border-radius: 2px;
    }

    .langIcon
    {
	    border-width:0px;
	    vertical-align:middle;
    }