/* File Created: januar 2, 2012 */

.sourceTablePicker
{
    width: 280px;
    margin-bottom: 5px;
}
.destinationTablePicker
{
    width: 310px;
    margin-bottom: 5px;
}
.columnMappingDiv
{
    width: 100%;
    padding-bottom: 3px;
    overflow: hidden;
}
.selectedDestinationColumn
{
    width: 310px;
}
.selectedDestinationColumnDiv
{
    float: left;
}
.selectedSourceColumnDiv
{
    width: 300px;
    float: left;
}
.selectedSourceColumn
{
    width: 280px;
}
.SourceTableSelectorDiv
{
    width: 300px;
    float: left;
    margin-left: 46px;
}
.DestinationTableSelectorDiv
{
    float: left;
}
.jobContainerDiv
{
    margin-left: 5px;
    margin-top: 5px;
    overflow: scroll;
}
.ColumnMappingSelectedCheckbox
{
    float: left;
    margin-right: 18px;
    margin-left: 26px;
}
.SourceHeadingTable
{
    float: left;
    width: 310px;
    /*color: #15428b;*/
    font-size: 12px;
    padding-left: 130px;
    margin-bottom: 5px;
    font-weight: bold;
}
.SourceHeading
{
    float: left;
    width: 310px;
    /*color: #15428b;*/
    font-size: 12px;
    padding-left: 100px;
    font-weight: bold;
}
.DestinationHeadingTable
{
    float: left;
    /*color: #15428b;*/
    font-size: 12px;
    font-weight: bold;
    width: auto;
}
.DestinationHeading
{
    float: left;
    /*color: #15428b;*/
    font-size: 12px;
    font-weight: bold;
}
.checkAllDiv
{
    float: left;
    margin-left: 22px;
}
html, body
{
    overflow: hidden;
}
.Collapse
{
    float: left;
}

.jobname
{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

.tablePickerDiv
{
    padding-top: 3px;
    clear: right;
    height: 23px;
}
.info
{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #2F7F2C;
}
.tablePickerDiv
{
    margin-top: 0px;
}
.checkAllCheckbox
{
    float: left;
}
.columnMappingGroupBox
{
    position: absolute;
    right: 3px;
    top: 403px;
    bottom: 10px;
    left: 0px;
}
