/* File Created: januar 2, 2012 */
.connectionStringInput
{
    width: 500px;
}
.FileManagerSelect
{
    width: 300px;
}
.header
{
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #fff;
}
.mainArea
{
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    overflow: auto;
    background-color: #f0f0f0;
    height: 100%;
    border-top: 1px solid #BDCCE0;
    border-bottom: 1px solid #BDCCE0;
    width: 100%;
}
.footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #f0f0f0;
    bottom: 0;
    text-align: right;
    padding: 10px;
    border-top: 1px solid #ccc;
}
