body
{
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#breadcrumb
{
	height:20px;
	line-height:18px;
	border-bottom:1px solid #9FAEC2;
	display:inherit;
	vertical-align:middle;
	padding-left:10px;
	background-color:#ffffff;
}

#AddNamedItemListDialog div.items-container
{
    overflow: auto;
    position: relative;
    height: 384px;
}
        
div.item-types
{   
	zoom: 1;
	width: 500px;
	height: 45px;
	overflow: hidden;
}

div.item-types:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.item-types div.item-types-image,
div.item-types div.item-types-description
{
	float: left;
}

div.item-types-image img
{
	width: 32px;
    height: 32px;
	margin: 3px;
	border: none;
}

div.item-types-description 
{
    width: 250px;
}

div.item-types-description small 
{
    display: block; /* for IE */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

div.title
{
    margin: 0px;
    padding-left: 5px;
    border-bottom: solid 1px #9FAEC2;
    background: url('/Admin/Images/Ribbon/UI/List/PipeL.gif' ) top left repeat-x;
    height: 25px;
    line-height: 23px;
    vertical-align: middle;
    color: #15428b;
}

div.title .header 
{
    font-family: Arial, Microsoft JhengHei;
    font-weight: bolder;
    font-size: 14px;
}

div.subtitle
{
    height:30px;
    line-height:30px;
    padding-left: 5px;
    border-bottom: solid 1px #BDCCE0;
    border-top: solid 1px #ffffff;
    background-color: #ECF4FC;
    color: #15428b;
}

#btnFilter
{
    margin-left: -6px;
    height: 20px;
    border: 1px solid #ABADB3;
    
    background: url('/Admin/Images/Ribbon/UI/List/PipeL.gif' ) top left repeat-x;
    vertical-align:middle;
}

#txtFilter
{
    vertical-align:middle;    
}

#lstNamedItemLists
{
    vertical-align:middle;
    height: 22px;
}

.rightCorner
{
	position:fixed;
	top:0px;
	right:0px;
}

/* Item list editor */
div.item-list-editor-list div.list 
{
    min-height: 500px;
    height: 100%;
}