body
{
	background-color: #fff;
}

#myContent
{
    padding: 15px;
    padding-bottom: 53px;
}

#myContent .new-paragraph-container
{
    width: 300px;
}

#myContent .new-paragraph-container .hover
{
    width: 300px;
}

#myContent .new-paragraph-container-double
{
    width: 600px !important;
}

#myContent div
{
    border: 1px solid #fff;
}

.columns .column
{
    float: left;
    width: 300px;
}

.columns .column .column-header td h3
{
    font-size: 13px;
    color: #c3c3c3;
    font-weight: bold;
    margin: 7px;
    padding: 0px;
}

.columns .column-no-header .column-header
{
    display: none;
}

.columns .column-types .blank-paragraph,
.columns .column-types .blank-paragraph-separator
{
    visibility: hidden;
}

.columns .column-types-only .blank-paragraph,
.columns .column-types-only .blank-paragraph-separator
{
    visibility: visible !important;
}

.columns .blank-paragraph-separator td
{
    padding-left: 2px;
    border: none !important;
}

#myContent td
{
	border:solid 1px transparent;
	padding-top:3px;
	vertical-align:top;
}

.blank-paragraph-separator td,
.blank-paragraph-separator td div
{
    padding: 0px;
    margin: 0px;    
}

.blank-paragraph-separator td
{
    padding-left: 8px !important;
}

.blank-paragraph-separator td div
{
    height: 1px;
    background-color: #aeaeae;
    border-bottom: 1px solid #f4f4f4;
}

#myContent h1, #myContent h1 a
{
    white-space: nowrap;
    overflow: hidden;
	font-size:15px;
	color:#006E12;
	margin:0px;
	padding:0px;
	font-weight:normal;
	margin-top: -2px;
	margin-bottom: 3px;
}
#myContent h1 a:hover
{
	text-decoration:underline;
}
#myContent small
{
	float:left;
	clear:both;
}

#myContent h2
{
	margin:0px;
	padding:0px;
	float:left;
	margin-right:10px;
	font-size:12px;
	font-weight:normal;
}
#myContent a.h2
{
	padding-right:10px;
	border-right:solid 1px #c1c1c1;
	font-weight:normal;
	font-size:11px;
	color:#0066CC;
}
#myContent h2 a:hover
{
	text-decoration:underline;
}
#myContent h2 img
{
	margin-right:5px;
	vertical-align:middle;
}
#myContent div.hover
{
	border:solid 1px transparent;
}
#myContent .over div
{
	padding:0px;
	border:solid 1px #B9D7FC;
	background-color: #f4f9ff;
	background-position:top left;
	background-repeat:repeat-x;
	cursor:pointer;
}

#BottomInformationBg
{
	height:53px;
	width:100%;
	min-width:818px;
	background-image:url('/Admin/Images/BottomInformationBg.png');
	background-repeat:repeat-x;
	position: fixed; 
	bottom: 0px;
	left: 0px;
	right: 0px;
	
}

#BottomInformationBg img
{
	margin:2px;
	margin-left: 10px;
	margin-top: 5px;
}

#BottomInformationBg ul.stats,
#BottomInformationBg ul.stats li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#BottomInformationBg ul.stats-first
{
    margin-right: 35px;
}

#BottomInformationBg ul.stats
{
    margin-top: 5px;
}

#BottomInformationBg ul.stats li
{
    height: 16px;
    line-height: 16px;
}

#BottomInformationBg ul.stats li .label
{
	color: #5A6779;
	padding-right: 5px;
}

.item-icon img {
    height: 32px;
    width: 32px;
}

#MessageBlock {
    width: 300px;
}