.parent {
    min-height: 20px;
    /*border: 1px dashed #ffa667;*/
}

.label {
    width: 170px;
    vertical-align: text-top;
}

.labeloverfield {
    width: 340px;
}

.activeFalse .container {
    opacity: 0.25;
}

.fieldcell {
}

.prepend {
    background-color: #e1e1e1;
    height: 100%;
    height: 16px;
    line-height: 16px;
    padding: 2px;
    padding-top: 2px;
    border: 1px solid #d1d1d1;
    border-right-width: 0px;
    display: none;
}

.append {
    background-color: #e1e1e1;
    height: 100%;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 2px;
    border: 1px solid #d1d1d1;
    border-left-width: 0px;
    display: none;
}

a.bold {
    font-weight: bold;
}

.parent > li {
    border-bottom: 1px dashed #e1e1e1;
}

.container .tools {
    color: #e1e1e1;
    /*height: 16px;
				line-height: 16px;*/
}

    .container .tools .toolsinner {
        display: none;
    }

.container:hover .tools .toolsinner {
    /*display: block;*/
}

.parent, .subparent {
    list-style: none;
    padding-left: 10px;
}

.subparent {
    /*min-height: 2px;
			border: 1px dashed #b6ff00;*/
}

.parent .container {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
}

    .parent .container:hover {
        /*border: 1px dashed #e1e1e1;*/
        border: 1px dashed transparent;
        background-color: #fcfcfc;
    }

.parent textarea, .parent input[type=text], .parent input[type=password] {
    width: initial;
    min-width: 250px;
    font-size: 13px !important;
    color: black !important;
    border: 1px solid #333333;
    padding: 4px;
}

.parent img {
    max-width: 250px;
}