.list
{
	font-family: Arial, Microsoft JhengHei;
	font-size: 11px;
}
.list ul, .list li
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	clear: both;
}

.list li.header
{
	background: url('/Admin/Images/Ribbon/UI/List/Pipe.gif' ) top left repeat-x;
	float: left;
	width:100%;
	cursor:default;
	border-top:1px solid #BDCCE0;
	border-bottom:1px solid #BDCCE0;
}
.list li.header span.pipe
{
	margin:4px 0px 4px 0px;
	height:11px;
	width:1px;
	padding: 0px;
	background-color: #9FAEC2;
}

.list span
{
	display: block;
	float: left;
	line-height: 15px;
	padding: 3px;
	vertical-align:middle;
}

.list img
{
	vertical-align:middle;
}

.list #items span
{
	vertical-align:middle;
}

.list #items li
{
	height:23px;
	background-color:#FFFFFF;
}

.list #items li:hover
{
	background-color:#EBF7FD;
}
