.editable-list {
  font-family: arial, verdana, Microsoft JhengHei;
  font-size: 11px;
  color: #333333;
  border: 1px solid #9faec2;
}
.editable-list * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.editable-list table.editable-list {
  width: 100%;
  border: none;
  border-spacing: 0;
  margin: 0;
}
.editable-list img {
  border: none;
}
.editable-list .disabled {
  cursor: auto !important;
}
.editable-list .hidden {
  display: none !important;
}
.editable-list .no-paging {
  overflow-x: auto !important;
}
.editable-list .unselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editable-list .editable-list-button,
.editable-list .editable-list-data {
  cursor: pointer;
}
.editable-list .editable-list-button.disabled {
  cursor: auto !important;
  background-color: transparent;
  opacity: 0.4;
  color: gray;
}
.editable-list div.editable-list-dropdown {
  position: relative;
  display: block;
}
.editable-list div.editable-list-dropdown > a {
  display: block;
  height: 100%;
  width: 14px;
  border: 1px solid transparent;
}
.editable-list div.editable-list-dropdown > a > span {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 7px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.editable-list div.editable-list-dropdown > a:hover {
  border: 1px solid #ffb700;
  background: #FFE7A2 !important;
}
.editable-list div.editable-list-dropdown > ul {
  position: absolute;
  list-style: none;
  display: none;
  top: 100%;
  right: 0;
  height: auto;
  width: 136px;
  padding: 2px 2px;
  margin: 2px 0 0;
  z-index: 10000;
  background-color: #fff;
  border: 1px solid #9faec2;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
}
.editable-list div.editable-list-dropdown > ul.opened {
  display: block;
}
.editable-list div.editable-list-dropdown > ul li {
  height: 22px;
  line-height: 20px;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
.editable-list div.editable-list-dropdown > ul li:hover {
  border: 1px solid #ffb700;
  background: url(/Admin/Images/Ribbon/UI/Contextmenu/Bg.gif) left top repeat-x !important;
}
.editable-list div.editable-list-dropdown > ul li > span {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin: 0 4px;
  float: left;
}
.editable-list div.editable-list-dropdown > ul li > span:before {
  content: "";
}
.editable-list div.editable-list-dropdown > ul li > a {
  display: inline-block;
  height: 100%;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
  background: none !important;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-top: 3px;
  text-align: left;
}
.editable-list .editable-list-cell {
  height: 18px;
  vertical-align: middle;
  padding-left: 3px;
  border-bottom: 1px solid #bdcce0;
}
.editable-list .editable-list-cell img {
  margin-left: 8px;
}
.editable-list .editable-list-cell a {
  cursor: default;
  color: #15428b;
  padding-right: 10px;
  text-decoration: none;
  display: inline-block;
  width: 20px;
}
.editable-list .editable-list-cell a:hover {
  background: url('/Admin/images/Ribbon/BtnBg.gif') center center;
}
.editable-list .editable-list-header .editable-list-cell {
  height: 22px;
  background: url('/Admin/Images/Ribbon/UI/List/Pipe.gif') bottom left repeat-x;
  cursor: default;
}
.editable-list .editable-list-header .editable-list-cell div {
  height: 100%;
}
.editable-list .editable-list-header .editable-list-cell div span {
  vertical-align: bottom;
}
.editable-list .editable-list-header .editable-list-cell div .separator {
  display: inline-block;
  margin: 2px 2px 0 0;
  height: 13px;
  width: 1px;
  padding: 0;
  background: url("/Admin/Images/x.gif");
  background-color: #9ac6ff;
}
.editable-list .editable-list-header .editable-list-cell div .sorting {
  float: right;
}
.editable-list .editable-list-header .editable-list-cell div .sorting > ul li.sorting-ascending > span,
.editable-list .editable-list-header .editable-list-cell div .sorting > ul li.sorting-descending > span {
  width: 16px;
  height: 16px;
}
.editable-list .editable-list-header .editable-list-cell div .sorting > ul li.sorting-ascending > span {
  background-image: url("/Admin/Filemanager/Icons/sort_ascending.png");
}
.editable-list .editable-list-header .editable-list-cell div .sorting > ul li.sorting-descending > span {
  background-image: url("/Admin/Filemanager/Icons/sort_descending.png");
}
.editable-list .editable-list-header .editable-list-cell.delete-button {
  width: 60px;
}
.editable-list .editable-list-body .editable-list-row:hover {
  background-color: #ebf7fd;
}
.editable-list .editable-list-body .editable-list-data span {
  margin-left: 5px;
}
.editable-list .editable-list-body .editable-list-button span {
  margin-right: auto;
  margin-left: auto;
  min-height: 16px;
  min-width: 16px;
  height: 16px;
  width: 16px;
  display: block;
}
.editable-list .editable-list-body .editable-list-button span.no-image {
  width: auto;
  height: auto;
}
.editable-list .editable-list-body .editable-list-button.delete-button span {
  background-image: url(/Admin/Images/Ribbon/Icons/Small/Delete.png);
  background-repeat: no-repeat;
}
.editable-list .editable-list-body .editable-list-button.add-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editable-list .editable-list-body .editable-list-button.add-button td {
  border: none;
  height: 24px;
  vertical-align: middle;
}
.editable-list .editable-list-body .editable-list-button.add-button span {
  width: auto;
  color: #a9a9a9;
  text-align: center;
}
.editable-list .editable-list-footer {
  background-color: #ddecff;
  height: 21px;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 20px;
  border-top: solid 1px #9faec2;
  text-align: right;
}
.editable-list .editable-list-editor {
  margin-bottom: 2px;
  border-spacing: 4px;
}
.editable-list .editable-list-editor label {
  cursor: default;
}
.editable-list .editable-list-editor tr {
  margin: 5px 5px;
  vertical-align: middle;
}
.editable-list .editable-list-editor input,
.editable-list .editable-list-editor button,
.editable-list .editable-list-editor select,
.editable-list .editable-list-editor textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-left: 2px !important;
  background-color: #fff;
  border: 1px solid #abadb3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.editable-list .editable-list-editor button,
.editable-list .editable-list-editor select {
  text-transform: none;
}
.editable-list .editable-list-editor .editor-field-name {
  min-width: 90px;
  margin-right: 5px;
}
.editable-list .editable-list-editor .editor-field-value input,
.editable-list .editable-list-editor .editor-field-value select {
  width: 100%;
  min-width: 150px;
  height: 18px;
}
.editable-list .editable-list-editor .editor-field-value input:disabled,
.editable-list .editable-list-editor .editor-field-value select:disabled {
  color: #c3c3c3;
  border-color: #c3c3c3;
}
.editable-list .editable-list-editor .editor-field-value select {
  padding-left: 0 !important;
}
.editable-list .editable-list-editor .editor-field-value input[type=checkbox],
.editable-list .editable-list-editor .editor-field-value input[type=radio] {
  width: auto;
  min-width: inherit;
  background-color: transparent;
  vertical-align: middle;
  margin-right: 3px;
}
.editable-list .dialog-button-ok,
.editable-list .dialog-button-cancel {
  background-color: #F0F0F0;
  border: 1px solid #abadb3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.editable-list .dialog-button-ok:hover,
.editable-list .dialog-button-cancel:hover {
  background-color: #fff;
}
/*# sourceMappingURL=EditableList.css.map */