.list ul
{
	min-width:640px;
}
        
#items li
{
	cursor:default;
	border-bottom:1px solid #BDCCE0;
}

.list li.header
{
	border-top:0px solid #BDCCE0;
	min-width:640px;
}

.breadcrumb {
    border-bottom:1px solid #BDCCE0;
    height:20px;
    line-height:18px;
    display:inherit;
    vertical-align:middle;
    padding-left:10px;
}

#BottomInformationBg {
	height:53px;
	width:100%;
	min-width:818px;
	background-image:url('/Admin/Images/BottomInformationBg.png');
	background-repeat:repeat-x;
	position:fixed;
	bottom:0px;
}

#BottomInformationBg img { margin:10px; }

#BottomInformationBg .label {
	color: #5A6779;
	padding-left:5px;
	padding-right:5px;
}

.w20px {
	vertical-align:middle;
	padding:0px;
	width:20px;
}

#items li.selected {
    background-color: #FFF8DC !important;
}

