body 
{
    border-right: none !important;
}

html, body
{
    background-color: #efefef !important;
}

.list-container > div
{
    border: 1px solid #9faec2;
    cursor: default;
}

.list-container select
{
    width: 100px;
}

.description-container
{
    width: 664px;
}

.description-container p
{
    margin: 0px;
    margin-top: 2px;
    margin-left: 4px;
}

fieldset
{
    margin: 0px !important;
}

.description-container ul
{
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.description-container ul li strong,
.description-container ul li small
{
    display: block;
}

.description-container ul li small
{
    font-size: 11px;
    margin-bottom: 5px;
}
