.chooserMain  {
	background-color: #ffffff;
}

.chooserRow {
}

.chooserItemSelected {
	border: 1px solid #fdc25c;
}

.chooserItemNormal {
	border: 1px solid #c3c3c3;
}

.chooserItemOver {
	border: 1px dashed #fdc25c;
}

.chooserItem  {
	cursor: pointer;
	margin: 2px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.chooserPreviewLargeOuter {
	background: #dedede;
	position: absolute;
	z-index: 5;
}

.chooserPreviewLargeInner {
	background: #ffffff;
	border: 1px solid #c3c3c3;
	position: relative;
	padding: 5px;
	left: -5px;
	top: -5px;
}

.chooserPreviewNotAvailable 
{
	background-image: url('/Admin/Images/Line.gif');
	background-repeat: repeat;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	cursor: pointer;
}