TABLE, TD {
	padding: 0px;
	font-family:verdana, arial;
	font-size: 11px;
	/*border:0px solid;*/
}

.cleantable TABLE, TD {
	padding: 0px;
	font-family:verdana, arial;
	font-size: 11px;
	border:0px solid;
}

img {
	border:0px;
}

.H {
	cursor: hand;
}

.A {
	cursor: default;
}

strong {
	font-weight:bold;
}

.preview a {
	font-family:verdana, arial;
	font-size: 11px;
	text-decoration:none;
	color:#000000;
}

.preview a:hover {
	font-family:verdana, arial;
	font-size: 11px;
	text-decoration:Underline;
	color:#000000;
}