html, body
{
	xwidth: 100%;
	xheight: 100%;
	margin : 0px;
	padding: 0px;
	xoverflow:scroll;
}

.designer-table
{
	width: 100%;
	height: 100%;
	margin : 0px;
	padding: 0px;
}


.pipeline-designer
{
	margin : 0px;
	padding: 0px;
	width : 100%;
	height : 100%;
	overflow: scroll;
	cursor: pointer;
	border-left:1px solid #aca899;
}


* {
    -moz-user-select:none;
}

.pipeline
{
	height: 1px;
}

.pipeline-title
{
	font-size : 10pt;
	font-family: calibri, helvetica;
}

.pipeline-stop
{
	height : 30px;
	background-image: url(images/stop.png);
	background-position:center;
	background-repeat:no-repeat;
}

.pipeline-start
{
	height : 30px;
	background-image: url(images/start.png);
	background-position:center;
	background-repeat:no-repeat;
}

.activity
{
	margin: 1px;
	border: 2px solid white;
}

.activity-button
{
	text-align:center;
	height: 55px;
	width:120px;
	background-image: url(images/box-grey.png);
	background-position:center;
	background-repeat:no-repeat;
}

.activity-default
{
	height: 55px;
	width: 120px;
	border: 1px dotted #808080;
	background-color: #f7f7f7;
	background-position: center;
	background-repeat: no-repeat;
}

.activity-default-selected
{
	height: 55px;
	width: 120px;
	border: 1px solid #316ac5;
	background-color: #c1d2ee;
	background-position: center;
	background-repeat: no-repeat;
}

.sequence
{
	background-color: white;
}

.activity-type3
{
	width:100px;
	border: 1px dotted silver;
	background-color: white;
}


.activity-type3-sequence
{
	padding: 5px;
	background-color: white;
	
}

.activity-type3-sequence-1
{
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px dotted silver;
}

.activity-type3-sequence-2
{
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px dotted silver;
}

.activity-drag
{
	opacity:.7;
	filter: alpha(opacity=70);
	position:absolute;
	text-align:center;
	height: 49px;
	width:114px;
	sborder:1px solid silver;
}

.activity-text
{
	font-size : 8pt;
	font-family: calibri, helvetica;

}

.ActivitySelected
{
	margin: 1px;
	border: 2px dotted lightgreen;
}

.arrow
{
	margin: 1px;
	height: 50px;
	width: 115px;
	background-image: url(images/arrow.png);
	background-position:center;
	background-repeat:no-repeat;
}

.arrow3
{
	margin: 1px;
	height: 50px;
	width: 115px;
	background-image: url(images/arrow-candrop.png);
	background-position:center;
	background-repeat:no-repeat;
}

.arrow4
{
	margin: 1px;
	height: 50px;
	width: 115px;
	background-image: url(images/arrow-dragover.png);
	background-position:center;
	background-repeat:no-repeat;
}

.arrow-insert
{
	margin: 1px;
	height: 50px;
	width: 115px;
	background-image: url(images/arrow-insert.png);
	background-position:center;
	background-repeat:no-repeat;
}

.toolbar-header
{
	cursor:pointer;
	height:25;
	border-top:1px solid #fff;
	border-bottom:1px solid #aca899;
	border-right:1px solid #aca899;
	border-left:1px solid #fff;
	background:#e0dcc6
}

/* * * * * * * * * * * * */
/*   D E S I G N E R     */
/* * * * * * * * * * * * */


/* * * * * * * * * * * * */
/*     S U R F A C E     */
/* * * * * * * * * * * * */


/* * * * * * * * * * * * */
/*  P R O P E R T I E S  */
/* * * * * * * * * * * * */

.designer-properties
{
	border: 1px solid grey;
	height: 100%;
	width: 100%;
}


/* * * * * * * * * * * * */
/*    T O O L B O X      */
/* * * * * * * * * * * * */

.designer-toolbox
{
	-moz-box-sizing: border-box;
	font: 10pt calibri;
	top:66px;
    left:1px;	
    width:226px;
	position: absolute;
	height:90%;
	xz-index :123;
	overflow:auto;
}


.designer-toolbox-item
{
	margin: 1px;
	border: 0px solid #ECE9D8;
	background-color: #ECE9D8;
	text-align:center;
	height: 30px;
	width:190px;
	background-position:center;
	background-repeat:no-repeat;
	cursor:move;
}

.activity-drag .designer-toolbox-item
{
	border:1px solid gray;
}


.toolboxitem_default
{
	border:1px solid #ECE9D8;
	cursor:hand;
}
.toolboxitem_hover		
{
	border: 1px solid #316AC5; 
	background-color: #C1D2EE; 
	cursor:hand;
}



/* * * * * * * * * * * * */
/*     T I P B O X       */
/* * * * * * * * * * * * */
#activityTipElement {
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
}

#activityTipElementBaloon {
	position:absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}