<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
    	<link rel="stylesheet" href="Files\Templates\eCom\ecom.css" />
    	<link rel="stylesheet" href="http://<!--@Global:Request.Host-->/Files/Templates/eCom/CatalogPublishing/css/Common.css" />
    	<link rel="stylesheet" href="http://<!--@Global:Request.Host-->/Files/Templates/eCom/CatalogPublishing/css/RegularPageStyle.css" />
		<script type="text/javascript" src="Files\Templates\eCom\CatalogPublishing\preview.js"></script>
	</head>
    <body onload="OnLoad();">

        
        <script type="text/javascript" src="Files\Templates\eCom\Dialog.js"></script>
        <script type="text/javascript" src="Files\Templates\eCom\functions.js"></script>
   
        <div id="divSubscriptionSettings" style="display: none" class="CatalogPublishing-dialog">
	        <h3 class="CatalogPublishing-dialog-title">
		        <span><!--@Translate(Publishing:Thread.SubscriptionSettings, "Send proposal catalog")--></span>
		        <a href="javascript:void(0);" onclick="setDialogVisibility(false);">&nbsp;</a>
	        </h3>
          <div class="CatalogPublishing-dialog-content">
            <form id="frmSubscriptionSettings" action="/Admin/Public/FormMailer.aspx" method="post">
              <input type="hidden" name="FM_Charset" value="iso-8859-1">
              <input type="hidden" name="FM_html" value="true">
              <input type="hidden" name="FM_Subject" value="E-mail from my website">
              <input type="hidden" name="FM_FromEmail" value="info@dynamicweb.dk">
              <input type="hidden" name="FM_FromName" value="Dynamicweb FORMAILER">
              <input type="hidden" name="FM_Template" value="Mail.html">
              <input type="hidden" name="FM_Attachments" value="" id="FM_Attachments">
              <input type="hidden" name="FM_Redirect" value="/default.aspx?CatalogPublishingcmd=preview">

              <table>
                <tr><td><!--@Translate(Ecom:CatalogPublishing.Adress, "Adress:")--> </td><td><input type="Text" id="txEmail" name="FM_ToEmail" value="" style="width: 230px"></td></tr>
                <tr><td><!--@Translate(Ecom:CatalogPublishing.Name, "Name:")--> </td><td><input type="Text" name="Name" value=""  style="width: 230px"></td></tr>
                <tr><td></td><td><input type="submit" value="Send"></td></tr>
              </table>
            </form>
          </div>
        </div>

        <form id="printparams" name="printparams" action="<!--@Global:Pageview.Url-->&amp;CatalogPublishingcmd=print" method="post">
	
					  
            <div class="wrapper-outer-page">
                <div class="wrapper-page">


                    <div class="body-page">
                    
                        <!--@LoopStart(Products)-->
                        <div class="product">
                            <div class="image">
                                    <img width="160" border="0" height="110" src="<!--@Ecom:Product.ImageSmall.Default.Clean-->" />
                            </div>
                            <div class="title">
                                <h3><!--@Ecom:Product.Name--></h3>
                            
							     <div class="description"><!--@Ecom:Product.ShortDescription--></div>
					 	 	    <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
								    <div><a href="/default.aspx?CatalogPublishingcmd=remove&amp;productid=<!--@Ecom:Product.ID-->">Remove from catalog</a></div>
                                    <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                            </div>
                            <div class="count">
                                <!--@Ecom:CatalogPublishing.ProductCount-->
                            </div>                        
                            <div class="price">
                        	    <span class="p"><!--@Ecom:CatalogPublishing.Cost--></span>
				            </div>                        
                        </div>
                        <!--@LoopEnd(Products)-->
					    <div class="product" >
						    <div class="total"><span class="lable"><!--@Translate(Ecom:CatalogPublishing.TotalPrice, "Total price")--></span> <span class="value"><!--@Ecom:CatalogPublishing.TotalCost--></span></div>
						    <div class="valid"><span class="lable"><!--@Translate(Ecom:CatalogPublishing.ValidUntil, "Valid until")--></span> <span class="value"><!--@Ecom:CatalogPublishing.ValidUntil--></span></div>
					    </div>
                    
                    </div>
				    <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
					    <input type="submit" value="<!--@Translate(Ecom:CatalogPublishing.CreateCatalog, "Create catalog")-->" />
                        <br><br><br>
                        <div id="showLinks" style="display:none;">
                            <a href="/default.aspx?CatalogPublishingcmd=download"><!--@Translate(Ecom:CatalogPublishing.Download, "Download")--></a> 
                            <a href="javascript:void(0);" onclick="SendProposalByEmail();"><!--@Translate(Ecom:CatalogPublishing.SendByEmail, "Send by e-mail")--></a>
                        </div>
                    <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                </div>
            </div>
        </form>

<div id="CatalogPublishingDialogOverlay" class="CatalogPublishing-dialog-overlay" style="display:none;" ></div>		
		
    </body>
</html>