html, body
{
    overflow: hidden;
    border-right: none !important;
}

form
{
    height: 100%;
}

input, textarea
{
    resize: none;
}

#mainTab
{
    table-layout: fixed;
    margin: 0px;
    padding: 0px;
    height: 100%;
    
    border-bottom: 1px solid #9faec2;
}

.omc-clear
{
    clear: both;
    visibility: hidden;
    height: 1px;
    font-size: 1px;
}

#cellNavigation ul.visitor-details-navigation,
#cellNavigation ul.visitor-details-navigation li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#cellNavigation ul.visitor-details-navigation
{
    margin-top: 6px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#cellNavigation ul.visitor-details-navigation li
{
    height: 16px;
    line-height: 16px;
    
    margin-left: 6px;
    margin-bottom: 4px;
}

#cellNavigation ul.visitor-details-navigation li.visitor-details-section-separator
{
    height: 6px;
    line-height: 6px;
    
    margin-top: 7px;
    margin-left: 0px;
    margin-bottom: 0px;
}

#cellNavigation ul.visitor-details-navigation li.visitor-details-section-separator div
{
    height: 1px;
    border: none;
    padding: 0px;
    margin: 0px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #e8e8e8;
}

#cellNavigation ul.visitor-details-navigation li a
{
    display: block;
    
    height: 18px;
    line-height: 18px;
    padding-left: 18px;
    
    background-repeat: no-repeat;
    background-position: left top;
    
    float: left;
    white-space: nowrap;
}

#cellNavigation ul.visitor-details-navigation li a span
{
    float: left;
    
    height: 18px;
    line-height: 18px;
    
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#cellNavigation ul.visitor-details-navigation li a.navigation-active span
{
    font-weight: bold;
    background-color: #c0d2ec;
    color: #000000;
}

#cellNavigation ul.visitor-details-navigation li a,
#cellNavigation ul.visitor-details-navigation li a:hover,
#cellNavigation ul.visitor-details-navigation li a:visited
{
    color: #333333;
}

#cellNavigation ul.visitor-details-navigation li a:active,
#cellNavigation ul.visitor-details-navigation li a:focus
{
    outline: none;
}

#cellNavigation ul.visitor-details-navigation li a:hover span
{
    text-decoration: underline;
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-basic
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/preferences.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-location
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/home.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-referer
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/MoveDocument.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-extranet
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/Key1.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-pages
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/Preview.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-files
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/import1.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-cart
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/index.png');
}


#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-profiles
{
    background-image: url('/Admin/Module/OMC/img/profile.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-advertising
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/up_plus.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-visits
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/Trace.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-email
{
    background-image: url('/Admin/Images/Ribbon/Icons/Small/mail.png');
}

#cellNavigation ul.visitor-details-navigation li a.visitor-details-navigation-about
{
    background-image: url('/Admin/Module/OMC/img/about_small.png');
}


#cellContent
{
    padding: 0px;
    margin: 0px;
}

#slider
{
    width: 1px;
    padding: 0px;
    margin: 0px;
}

#slider > div
{
    position: fixed;
    width: 1px;
    top: 0px;
    bottom: 0px;
    background-color: #9faec2;
}

#cellContentLoading
{
    position: absolute;
    padding-top: 22%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    
    background-color: #f4f8fc;
    
    border-bottom: 1px solid #9faec2;
}

#cellContentLoading .omc-loading-container
{
    display: block;
    margin: 0px auto;
    
    width: 200px;
    height: 86px;
    
    background: url('/Admin/Module/OMC/img/progress_bg.png') top left no-repeat;
}

#cellContentLoading .omc-loading-container .omc-loading-container-inner
{
    padding: 10px;
}

#cellContentLoading .omc-loading-container .omc-loading-container-inner img
{
    display: block;
    
    border: none;
    padding: 0px;
    
    margin: 0px auto;
    margin-bottom: 10px;
}

#cellContentLoading .omc-loading-container .omc-loading-container-inner .omc-loading-container-text
{
    cursor: default;
    
    text-align: center;
    
    color: #6a6a6a;
    
    font-size: 14px;
    font-weight: bold;
}

#entryToolbarLoading .omc-toolbar-loading,
#entryToolbarLoading .omc-toolbar-loading .omc-toolbar-loading-inner,
#entryToolbarLoading .omc-toolbar-loading .omc-toolbar-loading-inner .omc-toolbar-loading-contents
{
    margin: 0px;
    padding: 0px;
    border: none;
}

.visitor-details-section-title
{
    padding-left: 4px;
    font-weight: bolder;
    color: #15428b;
    font-size: 14px;
    height: 25px;
    line-height: 24px;
    border-bottom: 1px solid #9faec2;
    background: url('/Admin/Images/Ribbon/UI/List/PipeL.gif') top left repeat-x;
    
    cursor: default;
}