#explain-layout,
a.advanced-settings-activator,
a.link-light
{
    display: block;
    color: #15428b;
}
       
.list 
{
	font-family: Arial, Microsoft JhengHei;
	font-size: 11px;
}

#_contentWrapper {
    position: fixed;
    top: 155px;
    left: 0px;
    bottom: 53px;
    right: 1px;
    overflow: auto;
    border-top: 1px solid #BDCCE0;
}
#_contentWrapper.source-code-first {
    top: 183px;
}

.list ul, .list li
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	clear: both;
}

.list li.header
{
	background: url('/Admin/Images/Ribbon/UI/List/Pipe.gif' ) top left repeat-x;
	float: left;
	width:100%;
	cursor:default;
	border-top:1px solid #BDCCE0;
	border-bottom:1px solid #BDCCE0;
}
.list li.header span.pipe
{
	margin:4px 0px 4px 0px;
	height:11px;
	width:1px;
	padding: 0px;
	background-color: #9FAEC2;
}

.list span
{
	display: inline-block;
	float: left;
	line-height: 15px;
	padding: 3px;
	vertical-align:middle;
	overflow: hidden;
	white-space:nowrap;
}

span.inner {
    margin: 0;
    padding: 0;
}

.list img
{
	display: inline-block;
	float: left;
	border: 0;
}

.list #items ul li
{
	height:23px;
	background-color:#FFFFFF;
}

.list #items li:hover
{
	background-color:#EBF7FD;
}

.layout-overview
{
    min-height: 200px;
}

.layout-overview table td
{
    padding: 2px;
}

.layout-preview-section
{
    width: 125px;
    color: #9a9a9a;
}

.layout-preview-heading,
.layout-preview-subheading
{
    font-weight: bold;
}

.layout-preview-subheading
{
    padding-left: 15px !important;
}

.layout-preview-content
{
    padding-left: 30px !important;
}

.layout-overview-note
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#dlgGeneralSettings tr td:first-child
{
    vertical-align:top;
}

#dlgGeneralSettings .item-editor-box ul li
{
    width: 300px !important;
}

#dlgEditRestrictions select.std,
#dlgEditRestrictions .item-editor-box
{
    width: 200px !important;
}
#dlgEditRestrictions .restrictions-container
{
    height: 400px;
    overflow: auto;
    padding-bottom: 1px;
}

#myribbon
{
	min-width:738px;
}

.list ul
{
	min-width:640px;
}

#items ul li
{
	cursor:default;
	border-bottom:1px solid #BDCCE0;
}

#items ul li.selected
{
    background-color: #FFF8DC !important;
}

#items .Container
{
	border-bottom:1px solid #BDCCE0;
	height:21px;
	line-height:21px;
	padding-left:5px;
	padding-top:3px;
	font-weight:bold;
	background-color: #ECF4FC;
	vertical-align:middle;
}

#items .group-name
{
	color: #15428b;    
}

.list li.header
{
	border-top:0px solid #BDCCE0;
	min-width:640px;
}

.list input[type="checkbox"]
{
    margin: 2px 3px 2px 3px;
    padding: 0px 3px 3px 0px;    
}

span.C0
{
	padding-left:5px;
	padding-bottom: 0px;    
	vertical-align:middle;
	width:36px;
}

.C1
{
	width:150px;
}
	
.C2
{
	width:150px;
}

.C3
{
	width:150px;
}

.BottomInformation
{
	height:53px;
	width:100%;
	min-width: 818px;	
	background-image:url('/Admin/Images/BottomInformationBg.png');
	background-repeat:repeat-x;
	position:fixed;
	bottom:0px;
	white-space:nowrap;
}

.BottomInformation table
{
	width:100%;
}
        
.BottomInformation tr
{
	height:26px;
}

.BottomInformation #icon
{
	margin:10px;
}

.BottomInformation .label
{
	color: #5A6779;
	padding-left:5px;
	padding-right:5px;
}

.hintImage
{
    margin: 0px 5px -2px 2px;
}

.hintText
{
    color: Silver;
}

.field-and-link input,
.field-and-link select,
.field-and-link a
{
    float: left;
}

.field-and-link a
{
    margin-left: 4px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
}

.field-and-link a img
{
    border: none;
}

ul.regex-library,
ul.regex-library li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.regex-library
{
    margin: 5px;
}

ul.regex-library li
{
    padding: 5px;
    padding-left: 42px;
    
    background-image: url('/Admin/Images/Ribbon/Icons/scroll2.png');
    background-repeat: no-repeat;
    background-position: 4px 4px;
    
    border: 1px solid transparent;
    margin-bottom: 5px;
}

ul.regex-library li h3
{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}

ul.regex-library li span
{
    color: #525252;
}

ul.regex-library li:hover
{
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.activator-disabled
{
    cursor: default !important;
}

textarea {
    padding: 0;
    resize: none;
}

div.item-small-icons
{
	zoom: 1;
	width: 500px;
	height: 24px;
	overflow: hidden;
}

div.item-small-icons:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.item-small-icons div.item-small-icons-image,
div.item-small-icons div.item-small-icons-description
{
	float: left;
}

div.item-small-icons div.item-small-icons-description
{
	margin-left: 16px;
}

div.item-small-icons-image img
{
	width: 16px;
	height: 16px;
	margin: 3px;
	border: none;
}

div.item-large-icons
{
	zoom: 1;
	width: 500px;
	height: 39px;
	overflow: hidden;
}

div.item-large-icons:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.item-large-icons div.item-large-icons-image,
div.item-large-icons div.item-large-icons-description
{
	float: left;
}

div.item-large-icons-image img
{
	width: 32px;
	height: 32px;
	margin: 3px;
	border: none;
}

.editor-parameter.error{
    color: red;
}

.editor-parameter,
.ajax-rich-control
{
    width: 200px !important;
}

.ajax-rich-control div.std {
    border: none;
}

.ajax-rich-control .editor-parameter input.number-selector-value {
    width: 182px !important;
}

.editor-parameter[type=checkbox], .editor-parameter[type=radio] {
	width: auto !important;
}

/* Item type selector */
div.item-types
{
	zoom: 1;
	/*width: 160px;*/
	height: 45px;
	overflow: hidden;
}

div.item-types:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.item-types div.item-types-image,
div.item-types div.item-types-description
{
	float: left;
}

div.item-types-image img
{
	width: 32px;
    height: 32px;
	margin: 3px;
	border: none;
}

div.item-types-description 
{
    /*width: 250px;*/
    width: 130px;
    overflow: hidden;     
    display: block; /* for IE */
    white-space: nowrap;

}

div.item-types-description strong,
div.item-types-description small
{
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

div.autocomplete {
    position: absolute;
    z-index: 2;
    border: 1px solid #abadb3;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 3px #dddddd;
    -ms-box-shadow: 1px 1px 3px #dddddd;
    box-shadow: 1px 1px 3px #dddddd;
}

div.autocomplete.autocomplete-indicator {
    width: 300px;
}

div.autocomplete.autocomplete-indicator img {
    margin-left: 50%;
    margin-top: -2px;
    vertical-align: middle;
    height: 18px;
    width: 18px;
}

div.autocomplete.autocomplete-indicator ul,
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.autocomplete ul li.selected {
    background-color: #ffb;
}

div.autocomplete.autocomplete-indicator ul li,
div.autocomplete ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:18px;
  cursor:pointer;
}

.language-selector.dropdown {
    border-top-width: 1px !important;
}

.hidden {
    display: none !important;
}

div.inheritance-info {
    display: table;
    width: 100%;
    height: 20px;
    background: #fffebf;
    border: 1px solid #abadb3;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 5px;
}

div.inheritance-info div.icon {
    display: table-cell;
    width: 20px;
}

div.inheritance-info div.icon span {
    margin: 2px;
    content:url('/Admin/Images/Ribbon/icons/Small/information.png');
    width: 16px;
    height: 16px;
}

div.inheritance-info label {
    display: table-cell;
    vertical-align: middle;
    cursor: default;
}

#general-restrictions-row ul.structure-type-restriction-rule li.item-clearfix > div {
    float: left;
    margin-left: 20px;
    -moz-transition: display 0.5s linear, opacity 0.5s linear;
    -o-transition: display 0.5s linear, opacity 0.5s linear;
    -webkit-transition: display 0.5s linear, opacity 0.5s linear;
    transition: display 0.5s linear, opacity 0.5s linear;
}

.std.visibility-control{
    width: 200px;
    margin-bottom: 3px;
}

td.visibilitySettings {
    vertical-align: top;
    padding-top: 3px;
}